{% extends 'index.html' %}

  
{% block main %}


<div class="wrapper">
    <div class="account">

<h2>ДОГОВОР № {{ sale.number }}</h2>
<h3 style="font-size: 16px;">ДОЛЕВОГО УЧАСТИЯ В СТРОИТЕЛЬСТВЕ МНОГОКВАРТИРНОГО ДОМА</h3>
<p style="font-size: 14px;">
    {{ sale.city }} {{ sale.dt_issue }}</p>

<span style="font-size: 14px;">{{ my_company.orgform.full_name }} {{ my_company.full_name }}</span>
<span style="font-size: 14px;">, в лице {{ my_company.director.last_name }} {{ my_company.director.first_name }} {{ my_company.director.patr_name }}</span>
<span style="font-size: 14px;">, действующей на основании {{ my_company.director_power_type }}</span>
{% if my_company.director_power_number %}
<span style="font-size: 14px;">номер {{ my_company.director_power_number }}</span>
{% endif %}
{% if my_company.director_power_date %}
<span style="font-size: 14px;">от {{ my_company.director_power_date }}</span>
{% endif %}
<span style="font-size: 14px;">, именуемое в дальнейшем «Застройщик», с одной стороны, и</span>
{% for sale in sales_clients %}
<p style="font-size: 14px;">
    {% if sale.client.passport.person.sex %}Гражданин{% else %}Гражданка{% endif %}
    {{ sale.client.passport.person.last_name }}
    {{ sale.client.passport.person.first_name }}
    {{ sale.client.passport.person.patr_name }},
    {{ sale.client.passport.person.birthday }} года рождения,
    место рождения: {{ sale.client.passport.place_birth }},
    пол: {% if sale.client.passport.person.sex %}мужской{% else %}женский{% endif %},
    паспорт серии: {{ sale.client.passport.series }} № {{ sale.client.passport.number }},
    выдан: {{ sale.client.passport.police_name }},
    {{ sale.client.passport.dt_issue }},
    код подразделения: {{ buyer.bank_client.client.passport.police_code }},
    зарегистрирован по адресу:  
    {{ sale.client.passport.address.coutry_full_name }},
    {{ sale.client.passport.address.region }},
    {{ sale.client.passport.address.locality }},
    {{ sale.client.passport.address.city }},
    улица {{ sale.client.passport.address.street }},
    дом {{ sale.client.passport.address.home }},
    квартира {{ sale.client.passport.address.flat }}
    именуемый в дальнейшем «Участник  долевого строительства», с другой стороны, вместе именуемые «Стороны», 
    руководствуясь Гражданским Кодексом Российской Федерации, Федеральным законом РФ № 214-ФЗ от 30.12.2004 г. 
    «Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений 
    в некоторые законодательные акты Российской Федерации» (далее по тексту – Закон 214-ФЗ), заключили настоящий 
    договор участия в долевом строительстве (далее – «Договор») о нижеследующем:</p>
{% endfor %} 
<hr>
<h3 style="font-size: 16px;">1. Общие положения</h3>
<p style="font-size: 14px;">
    1.1. В настоящем Договоре используются следующие основные понятия (определения):</p>
<p style="font-size: 14px;">
    1.1.1. Застройщик — хозяйственное общество, имеющее на праве собственности или на праве аренды земельный участок и 
    привлекающее денежные средства участников долевого строительства для строительства (создания) на этом земельном участке 
    Объекта на основании полученного разрешения на строительство.</p>
<p style="font-size: 14px;">
    1.1.2. Участник долевого строительства — физическое лицо, которое в соответствии с условиями Договора направляет денежные 
    средства на создание Объекта с целью возникновения у него права собственности на Объект долевого строительства.</p>
<p style="font-size: 14px;">
    1.1.3. Объект – строящийся Застройщиком {{ my_company.orgform.short_name }} {{ my_company.full_name }}, имеющий следующие характеристики:</p>
<div class="table-wrapper">
    <table>
        <tbody>
            <tr><td>Вид строящегося объекта</td><td>многоквартирный жилой дом</td></tr>
            <tr><td>Номер (строительный)</td><td>{{ flat.floor.section.house.number }}</td></tr>
            <tr><td>Этажность</td><td>{{ flat.floor.section.house.number_of_floors }}</td></tr>
            <tr><td>Общая площадь</td><td>{{ flat.floor.section.house.square }}</td></tr>
            <tr><td>Количество квартир</td><td>{{ flat.floor.section.house.count_flats }}</td></tr>
            <tr><td>Материал наружных стен</td><td>{{ flat.floor.section.house.material_wall.name }}</td></tr>
            <tr><td>Материал поэтажных перекрытий</td><td>{{ flat.floor.section.house.material_floor.name }}</td></tr>
            <tr><td>Класс энергоэффективности</td><td>{{ flat.floor.section.house.energy_save.name }}</td></tr>
            <tr><td>Сейсмостойкость</td><td>{{ flat.floor.section.house.seismic.name }}</td></tr>
        </tbody>
    </table>
</div>
<p style="font-size: 14px;">
    и   расположенный  по адресу: 
    {{ flat.floor.section.house.address.country_full_name }},
    {{ flat.floor.section.house.address.region }},
    {{ flat.floor.section.house.address.district }},
    {{ flat.floor.section.house.address.locality }}
    {{ flat.floor.section.house.address.city }},
    {{ flat.floor.section.house.address.street }},
    {{ flat.floor.section.house.number }}.
    Указанные характеристики являются проектными (планируемыми).</p>
<p style="font-size: 14px;">1.1.4. Земельный участок - земельный участок, 
    кадастровый номер: {{ flat.floor.section.house.building_permit.land_plot.number }},
    имеющий общую площадь {{ flat.floor.section.house.building_permit.land_plot.square }} кв.м., 
    категория земель: {{ flat.floor.section.house.building_permit.land_plot.category }}; 
    вид разрешенного использования земельного участка: {{ flat.floor.section.house.building_permit.land_plot.usage }}, 
    принадлежащего  застройщику на праве {{ flat.floor.section.house.building_permit.land_plot.owner_type }}, 
    номер документа подтверждающего право: {{ flat.floor.section.house.building_permit.land_plot.owner_number }}
    от {{ flat.floor.section.house.building_permit.land_plot.owner_reg_date }}.
</p>
<p style="font-size: 14px;">
    1.1.5. Объект долевого строительства — жилое помещение (квартира) с относящимися к ней  лоджиями и/или балконами
    (далее по тексту – летние помещения)   в соответствии с п.2.2. Договора и  Приложением №1 к Договору, 
    подлежащие передаче Участнику долевого строительства после получения разрешения на ввод в эксплуатацию Объекта 
    и входящие в состав указанного Объекта, строящегося (создаваемые) с привлечением  денежных средств Участника долевого строительства.</p>
<p style="font-size: 14px;">
    1.1.6. Федеральный закон № 214-ФЗ — Федеральный закон от 30.12.2004 г. № 214-ФЗ «Об участии в долевом строительстве 
    многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты РФ».</p>
<p style="font-size: 14px;">
    1.1.7. Площадь Объекта долевого строительства (приведенная площадь) — площадь жилого помещения (квартиры), 
    включающая в себя площадь всех помещений, в том числе площадь летних помещений (лоджий) с применением понижающих коэффициентов, 
    определенная в соответствии с действующим законодательством.</p>
<p style="font-size: 14px;">
    1.2. Строительство Объекта ведется на основании Разрешения на строительство 
    № {{ flat.floor.section.house.building_permit.number }} от {{ flat.floor.section.house.building_permit.dt_issue }}</p>
<p style="font-size: 14px;">
        1.3. Проектная декларация, включающая в себя информацию о Застройщике и о проекте строительства Объекта, 
        размещена  на  официальном  сайте Застройщика {{ my_company.site }} в сети Интернет, оригинал проектной декларации находится у Застройщика.</p>
<p style="font-size: 14px;">
    1.4. Банк – {{ sale.escrow_agent.orgform.full_name }} {{ sale.escrow_agent.full_name }},
    ОГРН {{ sale.escrow_agent.ogrn }}, 
    ИНН {{ sale.escrow_agent.inn }}, 
    К/счет {{ sale.escrow_agent.bank.ks }} в {{ sale.escrow_agent.bank.branch }}, 
    БИК {{ sale.escrow_agent.bank.bik }}, 
    являющийся кредитной организацией по законодательству Российской Федерации.
    адрес: {{ sale.escrow_agent.address.country_full_name }},
    {{ sale.escrow_agent.address.region }},
    {{ sale.escrow_agent.address.district }},
    {{ sale.escrow_agent.address.locality }},
    {{ sale.escrow_agent.address.city }},
    {{ sale.escrow_agent.address.street }},
    {{ sale.escrow_agent.address.home }},
    {{ sale.escrow_agent.address.flat }}.</p>
<hr>
<h3 style="font-size: 16px;">2. Предмет Договора</h3>
<p style="font-size: 14px;">
    2.1. По настоящему Договору Застройщик обязуется в срок, указанный в Проектной декларации, своими силами и (или) 
    с привлечением других лиц построить (создать) Объект, названный в разделе 1 Договора, 
    и после получения разрешения на ввод в эксплуатацию этого Объекта передать Участнику долевого 
    строительства соответствующий Объект долевого строительства, а Участник долевого строительства 
    обязуется уплатить обусловленную Договором цену и принять Объект долевого строительства 
    при наличии разрешения на ввод в эксплуатацию Объекта.
</p>
<p style="font-size: 14px;">
    2.2. Объект долевого строительства имеет следующие проектные характеристики (выбрать необходимое):</p>
<div class="table-wrapper">
    <table>
        <tbody>
            <tr><td>Проектный номер</td><td>{{ flat.number }}</td></tr>
            <tr><td>Жилых комнат</td><td>{{ flat.living_rooms }}</td></tr>
            <tr><td>Всего комнат</td><td>{{ flat.count_rooms }}</td></tr>
            <tr><td>Площадь комнат</td><td>{{ flat.square }}</td></tr>
            <tr><td>Этаж</td><td>{{ flat.floor.number }}</td></tr>
            <tr><td>Секция</td><td>{{ flat.floor.section.number }}</td></tr>
            <tr><td>Назначение</td><td>Жилое</td></tr>
        </tbody>
    </table>
</div>
Местоположение Объекта долевого строительства на плане этажа многоквартирного жилого дома, входящего в состав Объекта,  
определяется в Приложении № 1 к Договору.
<p style="font-size: 14px;">
    2.3. Учитывая, что Застройщик передает Объект долевого строительства Участнику долевого строительства не ранее, 
    чем после получения в установленном порядке разрешения на ввод в эксплуатацию Объекта, 
    срок передачи Застройщиком Объекта долевого строительства Участнику долевого строительства - 
    {{ flat.floor.section.house.building_permit.dt_expiry }} включительно. 
    Стороны соглашаются, что допускается досрочное исполнение Застройщиком обязательства по передаче Объекта долевого строительства.</p>
<p style="font-size: 14px;">
    2.4. Участник долевого строительства выражает свое письменное согласие на раздел, выдел 
    Земельного участка, указанного в п.1.1. Договора, в период действия настоящего Договора, 
    в соответствии с требованиями ст.11.2 Земельного кодекса Российской Федерации, с последующим 
    оформлением прав Застройщика на вновь образованные земельные участки и сохранением 
    установленного на основании ст.13 Федерального закона № 214  залога на образованный 
    земельный участок, на котором располагается Объект.  При этом Участник долевого строительства 
    выражает свое согласие на прекращение залога на иные образованные в результате раздела, выдела 
    Земельного участка участки, не отведенные для строительства Объекта.  Участник долевого строительства 
    соглашается с тем, что раздел, выдел Земельного участка не является существенным изменением проектной 
    документации или характеристик Объекта и не влияет на объем его прав и обязанностей по Договору. 
    Получение согласия Участника долевого строительства на раздел, выдел Земельного участка и сохранение 
    залога на образованный земельный участок, на котором располагается Объект, в какой-либо иной форме не требуется.</p>
<p style="font-size: 14px;">
    2.5 Участник долевого строительства проинформирован о том, что в соответствии с ч. 7 ст. 13 
    Федерального закона №214 Застройщик вправе передать права на Земельный участок и/или участки, 
    образованные в результате раздела,  выдела Земельного участка, в обеспечение исполнения обязательств 
    Застройщика перед  банком по возврату кредита на строительство  Объекта, при условии получения от 
    банка согласия на удовлетворение своих требований за счет заложенного имущества в соответствии с частью 2 ст. 
    15 Федерального закона №214 и согласия на прекращение права залога на объекты долевого строительства в случае, 
    предусмотренном ч. 8 ст. 13 Федерального закона № 214.</p>
<p style="font-size: 14px;">
    2.6. До подписания настоящего Договора Участник долевого строительства ознакомился с Проектной декларацией 
    и согласен на размещение и публикацию всех изменений и дополнений, вносимых Застройщиком в Проектную декларацию, 
    в информационно-телекоммуникационной сети «Интернет» на сайте {{ my_company.site }}.</p>
<p style="font-size: 14px;">
    2.7. Застройщик гарантирует Участнику долевого строительства, что на момент подписания настоящего Договора 
    права требования на Объект долевого строительства  не проданы, не заложены, правами третьих лиц не обременены, 
    в споре или под арестом не состоят.</p>
<hr>
<h3 style="font-size: 16px;">3. Цена Договора. Сроки и порядок ее оплаты</h3>
<p style="font-size: 14px;">
    3.1. Цена Договора, подлежащая уплате Участником долевого строительства Застройщику, составляет сумму в размере
    {{ sale.price }} (___________) руб., НДС не облагается.</p>
{% for sale in sales_clients %}
<p style="font-size: 14px;">
    3.2. Участник долевого строительства обязуется оплатить цену Договора в полном объеме в течение 
    {{ sale.pay_days }} (___) рабочих дней с даты государственной регистрации Договора на расчетный счет Застройщика, 
    указанный в п. 13.1. Договора в следующем порядке:
    Участник долевого строительства вносит денежные средства в счет уплаты цены ДДУ на счет эскроу, открытый в Банке, на следующих условиях: 
    Эскроу-агент: 
    {{ sale.sale.escrow_agent.orgform.full_name }} {{ sale.sale.escrow_agent.full_name }} 
    (сокращенное наименование: {{ sale.sale.escrow_agent.orgform.short_name }} {{ sale.sale.escrow_agent.short_name }}) (Банк).
    Aдрес: {{ sale.sale.escrow_agent.address.country_full_name }},
    {{ sale.sale.escrow_agent.address.region }},
    район: {{ sale.sale.escrow_agent.address.district }},
    {{ sale.sale.escrow_agent.address.locality }},
    {{ sale.sale.escrow_agent.address.city }},
    улица: {{ sale.sale.escrow_agent.address.street }},
    дом: {{ sale.sale.escrow_agent.address.home }},
    офис: {{ sale.sale.escrow_agent.address.flat }}.
    Адрес электронной почты: {{ sale.sale.escrow_agent.email }}
    Номер телефона: (___)
    Срок условного депонирования денежных средств -  не позднее {{ flat.floor.section.house.building_permit.dt_expiry }}
    Срок внесения денежных средств на счет эскроу – не позднее {{ sale.pay_days }} (___) дней с даты государственной регистрации настоящего Договора. 
{% endfor %}</p>
<p style="font-size: 14px;">
    Стороны пришли к соглашению, что в соответствии с п. 5 ст. 488 Гражданского кодекса РФ право залога у Застройщика на права требования 
    Объекта долевого строительства не возникает. На основании ст. 77 Федерального закона от 16.07.1998 г. № 102-ФЗ «Об ипотеке 
    (залоге недвижимости)» Жилое помещение (Квартира) в силу закона находится в залоге с момента государственной регистрации ипотеки 
    в Едином государственном реестре прав на недвижимое имущество и сделок с ним до полного и надлежащего исполнения Участником  долевого 
    строительства своих обязательств перед Банком по Кредитному договору, где залогодателем будет Участник долевого строительства,  
    залогодержателем – Банк. На основании п. 5 ст. 5, п. 2 ст. 11 и ст. 77 Федерального закона от 16.07.1998 г. № 102-ФЗ «Об ипотеке 
    (залоге недвижимости)» права требования, принадлежащие Участнику долевого строительства по настоящему Договору, находятся в залоге в 
    силу закона с момента государственной регистрации ипотеки в Едином государственном реестре прав, где залогодателем будет Участник 
    долевого строительства, залогодержателем – Банк. Залог права требования действует до момента передачи Участнику долевого строительства 
    Объекта долевого строительства (Квартиры), право получения которого было оплачено за счет кредита. Последующий залог объекта 
    долевого строительства, иное обременение, отчуждение, перепланировка/переустройство допускаются только с предварительного письменного согласия 
    Банка.</p>
<p style="font-size: 14px;">
    3.3. Обязательство Участника долевого строительства по оплате считается исполненным с момента зачисления денежных средств в полном 
    размере на расчетный счет Застройщика.</p>
<p style="font-size: 14px;">
    3.4. При осуществлении платежей по Договору указывать следующее назначение платежа: 	 
    «Оплата по договору участия в долевом строительстве  № {{ sale.number }} от {{ sale.dt_issue }}, НДС не облагается».</p>
<p style="font-size: 14px;">
        3.5. Цена Договора может быть изменена только по обоюдному добровольному письменному соглашению Сторон, а также в случаях, 
        предусмотренных п.п.3.7. и 3.8. Договора.</p> 
<p style="font-size: 14px;">
    3.6. Денежные средства Участника долевого строительства, уплачиваемые в счет цены Договора, используются Застройщиком в 
    соответствии с действующим законодательством РФ.</p>
<p style="font-size: 14px;">
    3.7. Цена Договора, установленная в п. 3.1. Договора, включает в себя сумму денежных средств на возмещение всех затрат 
    Застройщика по строительству (созданию) Объекта долевого строительства, а также денежные  средства  на оплату услуг 
    (вознаграждение) Застройщика.</p>
<hr>
<h3 style="font-size: 16px;">4. Порядок передачи объекта долевого строительства участнику долевого строительства</h3>
<p style="font-size: 14px;">  
    4.1. Застройщик направляет Участнику долевого строительства письменное сообщение о завершении строительства и о готовности 
    Объекта долевого строительства к передаче не менее чем за 30 (Тридцать) календарных дней до истечения срока, установленного 
    настоящим Договором для передачи Объекта долевого строительства.</p>
<p style="font-size: 14px;">  
    4.2. В течение 7 (Семи) рабочих дней со дня получения уведомления Застройщика о завершении строительства Объекта и о готовности 
    Объекта долевого строительства к передаче Участник долевого строительства обязан приступить к принятию Объекта долевого строительства 
    и совершить одно из следующих действий:
    - принять Объект долевого строительства, путем подписания с Застройщиком акта приёма-передачи, либо,
    - в случае обнаружения при осмотре Объекта долевого строительства несоответствия условиям Договора, Стороны составляют Акт 
    осмотра объекта долевого строительства (квартиры) включающий перечень дефектов и/или недоделок и срок их устранения, указываемый 
    Застройщиком. После устранения перечисленных в Акте осмотра объекта долевого строительства (квартиры) Участник долевого строительства 
    обязан принять Объект долевого строительства в течение 7 (Семи) рабочих дней со дня получения соответствующего уведомления.
    Участник долевого строительства считается просрочившим исполнение своей обязанности по принятию Объекта долевого строительства, 
    если в срок, установленный настоящим пунктом, он не совершил одного из вышеуказанных действий.</p>
<p style="font-size: 14px;">
    4.3. Застройщик вправе составить односторонний акт о передаче Объекта долевого строительства Участнику долевого строительства в 
    порядке и сроки, предусмотренные Федеральным законом № 214-ФЗ, при уклонении или отказе Участника долевого строительства от принятия 
    Объекта долевого строительства.</p>
<p style="font-size: 14px;">
    4.4. У Участника долевого строительства при возникновении права собственности на Объект долевого строительства одновременно возникает 
    доля в праве собственности на общее имущество в Объекте, которая не может быть отчуждена или передана отдельно от права собственности 
    на Объект долевого строительства.</p>
<hr>
<h3 style="font-size: 16px;">5. Обязательства Сторон</h3>
<p style="font-size: 14px;">
    5.1. Обязанности Участника долевого строительства:</p>
<p style="font-size: 14px;">
    5.1.1. Произвести оплату в объеме, сроки и порядке, указанные в п.п.3.1., 3.2., 3.7. Договора и иных разделах Договора.</p>
<p style="font-size: 14px;">
    5.1.2. Оказывать Застройщику необходимое содействие в реализации проекта по вопросам, входящим в компетенцию Участника долевого строительства. </p>
<p style="font-size: 14px;">
    5.1.3. Предоставить в орган, осуществляющий государственную регистрацию прав на недвижимое имущество и сделок с ним, полный комплект документов, 
    необходимых для государственной регистрации Договора, в том числе документ об оплате государственной пошлины.</p>
<p style="font-size: 14px;">
    5.1.4. После окончания строительных работ и получения разрешения на ввод в эксплуатацию Объекта принять Объект долевого строительства в порядке 
    и сроки, установленные разделом 4 Договора. </p>
<p style="font-size: 14px;">
    5.1.5. Не осуществлять самостоятельно или с помощью третьих лиц и без наличия письменного согласования с Застройщиком переустройство/перепланировку 
    и техническое переоборудование (в том числе снос/установку перегородок, переустройство коммуникаций) Объекта долевого строительства до даты 
    государственной регистрации права собственности на недвижимое имущество. Не осуществлять переустройство архитектурного облика Объекта и 
    Объекта долевого строительства,  в том числе и после получения права собственности на Объект долевого строительства.</p>
<p style="font-size: 14px;">
    5.1.6. Незамедлительно рассматривать и принимать решения в связи с обращениями Застройщика при оформлении дополнительных соглашений, 
    связанных с реализацией настоящего Договора в договорные сроки.</p>
<p style="font-size: 14px;">
    5.1.7. В случае изменения паспортных данных, места регистрации, контактного телефона или адреса для направления уведомлений и корреспонденции, 
    указанных в разделе 13 настоящего Договора, письменно уведомить об этом Застройщика в течение 10 (Десяти) рабочих дней с момента наступления 
    соответствующего обстоятельства.</p>
<p style="font-size: 14px;">
    5.1.8. Обязуется выполнить все свои обязательства, указанные в иных разделах Договора.</p>
<p style="font-size: 14px;">
    5.1.9. Независимо от причин расторжения Договора обязуется  не позднее дня расторжения уведомить Банк о предстоящем перечислении денежных 
    средств Застройщиком, в связи с расторжением Договора.</p>
<p style="font-size: 14px;">
    5.2. Права Участника долевого строительства:</p>
<p style="font-size: 14px;">
	5.2.1. Назначить доверенное лицо для представления интересов в отношениях с Застройщиком, полномочия которого должны быть основаны на 
    нотариально удостоверенной доверенности. </p>
<p style="font-size: 14px;">
	5.2.2. Уступить свои права и обязанности по настоящему Договору третьим лицам при условии предварительного письменного согласования с 
    Застройщиком и Банком соглашения об уступке, предоставления одного экземпляра такого соглашения Застройщику, и с момента государственной 
    регистрации Договора и полного выполнения Участником долевого строительства обязательств по внесению цены Договора согласно п.3.1. 
    Договора до момента подписания Сторонами  акта приема-передачи  или иного документа о передаче Объекта долевого строительства.</p>
<p style="font-size: 14px;">
    5.2.3. Требовать предоставления информации о Застройщике, проекте строительства Объекта, ходе строительства Объекта и о ходе исполнения 
    обязательств перед Участником долевого строительства.</p>
<p style="font-size: 14px;">
    5.3. Обязанности Застройщика:</p>
<p style="font-size: 14px;">
    5.3.1. С привлечением третьих лиц построить Объект и после получения разрешения на его ввод в эксплуатацию передать Объект долевого 
    строительства Участнику долевого строительства по Акту приема-передачи, в соответствии с условиями Договора. При передаче Объекта долевого 
    строительства по Акту приема-передачи одновременно передать Участнику долевого строительства инструкцию по эксплуатации Объекта долевого 
    строительства, содержащую необходимую и достоверную информацию о правилах и об условиях эффективного и безопасного его использования, 
    сроке службы Объекта долевого строительства и входящих в его состав элементов отделки, систем инженерно-технического обеспечения, 
    конструктивных элементов, изделий.</p>
<p style="font-size: 14px;">
    5.3.2. Обеспечить строительство Объекта в соответствии с условиями Договора и требованиями правовых актов и актов, применяемых к отношениям 
    по Договору, не отнесённых  к нормативным.</p>
<p style="font-size: 14px;">
    5.3.3. Предоставлять Участнику долевого строительства по его требованию информацию о Застройщике, проекте строительства Объекта, ходе 
    строительства Объекта и о ходе исполнения обязательств перед Участником долевого строительства.</p>
<p style="font-size: 14px;">
    5.3.4. В случае изменения адреса или других реквизитов в десятидневный срок разместить  информацию в сети Интернет на сайте 
    {{ my_company.site }}.
</p>
<p style="font-size: 14px;">
    5.3.5.  В случаях, указанных в п.5.3.4. Договора, направления письменного уведомления в адрес Участника долевого строительства не требуется. 
    Участник долевого строительства считается извещенным об изменении адреса или реквизитов Застройщика со дня размещения информации в сети Интернет.</p>
<p style="font-size: 14px;">
    5.3.6. Выполнять все функции, необходимые для завершения строительства Объекта в срок, установленный Договором. В случае реорганизации 
    Застройщика обеспечить правопреемственность договорных отношений Сторон и передать правопреемнику все права и обязанности по Договору.</p>
<p style="font-size: 14px;">
    5.3.7. Выполнять иные свои обязанности, возникающие как на основании Договора и иных сделок, так и в силу требований правовых актов.</p>
<p style="font-size: 14px;">
    5.3.8. Письменно уведомить Участника долевого строительства о завершении строительства Объекта и о готовности Объекта долевого строительства 
    к передаче не менее чем за 30 (тридцать) календарных дней до истечения срока, установленного настоящим Договором для передачи Объекта долевого 
    строительства.</p>
<p style="font-size: 14px;">
    5.3.9. Обязательства Застройщика по настоящему Договору считаются исполненными с момента подписания Сторонами  Акта приёма-передачи 
    Объекта долевого строительства согласно п. 5.3.1 Договора или подписания Застройщиком одностороннего акта о передаче Объекта долевого строительства.</p>
<p style="font-size: 14px;">
    5.4. Права Застройщика:</p>
<p style="font-size: 14px;">
    5.4.1. Застройщик вправе не осуществлять передачу Объекта долевого строительства Участнику долевого строительства до момента выполнения 
    Участником долевого строительства своих обязательств согласно п.3.1. Договора.</p>
<p style="font-size: 14px;">
    5.4.2. При уклонении Участника долевого строительства от принятия Объекта долевого строительства в срок, предусмотренный п.2.3. 
    Договора Застройщик по истечении двух месяцев со дня, предусмотренного настоящим Договором для передачи Объекта долевого строительства 
    Участнику долевого строительства, вправе составить односторонний акт или иной документ о передаче Объекта долевого строительства. 
    При этом риск случайной гибели Объекта долевого строительства признается перешедшим к Участнику долевого строительства со дня 
    составления одностороннего акта или иного документа о передаче Объекта долевого строительства.</p>
<hr>
<h3 style="font-size: 16px;">6. Гарантии качества</h3>
<p style="font-size: 14px;">
    6.1. Стороны определили, что разрешение на ввод в эксплуатацию Объекта является подтверждением соответствия Объекта долевого строительства 
    проектной документации, строительным нормам и правилам, требованиям технических и градостроительных регламентов, иным обязательным требованиям, 
    а также Договору.</p>
<p style="font-size: 14px;">
    6.2. В случае,  если Объект долевого строительства построен (создан) Застройщиком с отступлениями от условий Договора и (или) обязательных 
    требований, приведшими к ухудшению его качества, или делающими его непригодным для предусмотренного Договором использования, а именно для проживания, 
    Участник долевого строительства вправе требовать от Застройщика безвозмездного устранения недостатков в  согласованные Сторонами разумные сроки.</p>
<p style="font-size: 14px;">
    6.3. Гарантийный  срок для  Объекта долевого строительства  составляет 5 (Пять) лет с даты ввода Объекта в эксплуатацию. При этом:
    – гарантийный срок для технологического и инженерного оборудования, входящего в состав Объекта долевого строительства, составляет 3 (Три) 
    года со дня подписания первого акта приема-передачи или иного документа о передаче квартиры в Объекте. 
 	– гарантийный срок оборудования, не являющегося инженерным или технологическим, материалов и комплектующих, на которые гарантийный срок 
    установлен их изготовителем, соответствует гарантийному сроку изготовителя.</p>
<hr>
<h3 style="font-size: 16px;">7. Срок действия Договора</h3>
<p style="font-size: 14px;">
    7.1. Договор, все изменения (дополнения) к нему заключаются в письменной форме, подлежат государственной регистрации в органах, 
    осуществляющих государственную регистрацию прав на недвижимое имущество и сделок с ним в порядке, предусмотренном Федеральным законом 
    "О государственной регистрации недвижимости" от 13.07.2015 N 218-ФЗ, и считаются  заключенными (вступившими в силу) с момента такой регистрации.</p>
<p style="font-size: 14px;">
    7.2. Договор действует до полного исполнения Сторонами обязательств, обусловленных настоящим Договором, или прекращения действия Договора 
    в случаях и в порядке, предусмотренном разделом 8 настоящего Договора.</p>
<hr>
<h3 style="font-size: 16px;">8. Изменение Договора и прекращение его действия</h3>
<p style="font-size: 14px;">
    8.1. Договор может быть изменен по соглашению Сторон или в порядке, предусмотренном действующим законодательством РФ.</p>
<p style="font-size: 14px;">
    8.2. Участник долевого строительства вправе в одностороннем порядке отказаться от исполнения Договора в случаях, установленных 
    Федеральным законом № 214-ФЗ, а именно:
    - неисполнения Застройщиком обязательства по передаче Объекта долевого строительства в срок, превышающий установленный 
    Договором срок передачи на два месяца;
    - неисполнения Застройщиком  предусмотренных п.6.2. Договора обязанностей по устранению недостатков Объекта долевого строительства, 
    приведших к ухудшению качества и делающих Объект долевого строительства непригодным для предусмотренного Договором использования, 
    а именно для проживания;
    - существенного нарушения требований к качеству Объекта долевого строительства;
    - в иных установленных федеральным законом случаях.</p>
<p style="font-size: 14px;">
    По требованию Участника долевого строительства Договор может быть расторгнут в судебном порядке в случае:</p>
<p style="font-size: 14px;">
    - прекращения или приостановления строительства Объекта при наличии обстоятельств, очевидно свидетельствующих о том, что в предусмотренный 
    Договором срок Объект долевого строительства не будет передан Участнику долевого строительства;
    - существенного изменения проектной документации Объекта, то есть изменения характеристик Объекта (с учетом положений п.11.5. Договора);
    - изменения общей  площади Объекта долевого строительства на величину, превышающую установленный Федеральным законом №214-ФЗ максимальный предел;
    - в иных,  установленных федеральным законом случаях.
    В случае  внесения изменений в Федеральный закон № 214-ФЗ в части оснований для одностороннего отказа Участника долевого строительства 
    от исполнения Договора или оснований для расторжения Договора по требованию Участника долевого строительства в судебном порядке, 
    Участник долевого строительства вправе отказаться  от исполнения настоящего Договора или предъявить требования о расторжении Договора 
    в судебном порядке только по основаниям, предусмотренным Федеральным законом № 214-ФЗ в редакции, действующей на момент одностороннего 
    отказа Участника долевого строительства  от Договора или обращения Участника долевого строительства в суд.</p>
<p style="font-size: 14px;">
    8.3. Застройщик вправе в одностороннем порядке отказаться от исполнения Договора в порядке, предусмотренном  Федеральным законом № 214-ФЗ, в случаях:
    - при единовременной оплате — в случае просрочки внесения платежа Участником долевого строительства в течение более чем 2 (Два) месяца;
    - при оплате путем внесения платежей в предусмотренный Договором период — в случае систематического нарушения Участником долевого 
    строительства сроков внесения платежей, то есть нарушения срока внесения платежа более чем 3 (Три) раза в течение 12 (Двенадцати) 
    месяцев или просрочка внесения платежа в течение более чем 2 (Два) месяца. 
    - в иных, установленных федеральным законом случаях.</p>
<p style="font-size: 14px;">
    8.4. В случае одностороннего отказа Сторона направляет другой Стороне уведомление с мотивированным обоснованием причин отказа, 
    которое подлежит направлению по почте заказным письмом с описью вложения.</p>
<p style="font-size: 14px;">
    8.5. Независимо от оснований расторжения настоящего Договора, возврат денежных средств Участнику долевого строительства, 
    оплаченных Застройщику по Договору за счет кредитных и собственных денежных средств в общем размере {{ sale.price }} рублей, 
    НДС не облагается,  осуществляется Застройщиком в безналичном порядке в сроки в соответствии с Федеральным законом № 214-ФЗ на 
    текущий счет:
{% for sale in sales_clients %}
    Участника долевого строительства  № {{ sale.client.passport.bank.rs }}, открытый в {{ sale.client.passport.bank.branch }}, 
    БИК: {{ sale.client.passport.bank.bik }}.</p>
{% endfor %}
<p style="font-size: 14px;">
    8.6. В случае, если сумма перечисленная Застройщиком при расторжении Договора на расчетный счет Участника долевого строительства, 
    открытый в Банке превысит сумму оставшейся задолженности Участника долевого строительства по Кредитному договору, Банк осуществляет 
    возврат Участнику долевого строительства суммы, превышающей задолженность по Кредитному договору.</p>
<hr>
<h3 style="font-size: 16px;">9. Ответственность Сторон</h3>
<p style="font-size: 14px;">
    9.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение принятых на себя обязательств по Договору в соответствии 
    с действующим законодательством РФ. Уплата неустоек (штрафов, пени) не освобождает Стороны от исполнения своих обязательств по Договору.</p>
<p style="font-size: 14px;">
    9.2. В случае неисполнения или ненадлежащего исполнения обязательств по Договору сторона, не исполнившая своих обязательств или не надлежаще 
    исполнившая свои обязательства, обязана уплатить другой стороне предусмотренные Федеральным законом № 214-ФЗ и Договором неустойки (штрафы, пени) 
    и возместить в полном объеме причиненные убытки сверх неустойки.</p>
<hr>
<h3 style="font-size: 16px;">10. Обстоятельства непреодолимой силы</h3>
<p style="font-size: 14px;">
    10.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по Договору, если такое неисполнение явилось 
    следствием действия обстоятельств непреодолимой силы, не поддающихся разумному контролю Сторон, возникших после заключения Договора, а также 
    объективно препятствующих полному или частичному выполнению Сторонами своих обязательств по Договору, включая, но не ограничиваясь перечисленным: 
    войны, военные действия любого характера, блокады, забастовки, землетрясения, наводнения, пожары и другие стихийные бедствия, а также принятие 
    актов компетентными государственными органами и органами местного самоуправления, препятствующих выполнению Сторонами своих обязательств по Договору. 
    При этом срок исполнения обязательств по Договору отодвигается на время действия указанных обстоятельств, а также последствий, вызванных этими 
    обстоятельствами.</p>
<p style="font-size: 14px;">
    10.2. Сторона, для которой создалась невозможность исполнения обязательств по настоящему Договору вследствие наступления вышеназванных обстоятельств, 
    обязана известить в письменной форме другую Сторону без промедления, но не позднее 5 (Пяти) рабочих дней с даты их наступления, а также принять все 
    возможные меры с целью максимального снижения отрицательных последствий, вызванных обстоятельствами непреодолимой силы. Извещение должно содержать 
    данные о наступлении и характере обстоятельств, их возможной продолжительности и последствиях.</p>
<hr>
<h3 style="font-size: 16px;">11. Дополнительные условия</h3>
<p style="font-size: 14px;">
    11.1. В обеспечение исполнения обязательств Застройщика (залогодателя) по Договору с момента государственной регистрации Договора у Участника 
    долевого строительства (залогодержателя) считаются находящимися в залоге земельный участок, указанный в разделе 1 Договора, и строящийся на этом 
    земельном участке Объект.</p>
<p style="font-size: 14px;">
    11.2. Исполнение обязательств Застройщика по передаче жилого помещения Участнику(ам) долевого строительства по настоящему договору обеспечивается 
    компенсационным фондом – Фондом защиты прав граждан - участников долевого строительства, формируемым за счет обязательных отчислений (взносов) 
    застройщика.</p>
<hr>
<h3 style="font-size: 16px;">12. Заключительные положения</h3>
<p style="font-size: 14px;">
	12.1.  Споры и разногласия, возникающие между Сторонами из Договора или в связи с ним, в том числе в связи с его заключением, исполнением, 
    изменением, расторжением и недействительностью, передаются на разрешение суда по месту нахождения Объекта с обязательным соблюдением досудебного 
    претензионного порядка. Срок рассмотрения претензий — в течение 1 (Одного) месяца с момента получения.</p>
<p style="font-size: 14px;">
	12.2. Все приложения к Договору являются его неотъемлемой частью.</p>
<p style="font-size: 14px;">
    12.3. Участник долевого строительства дает свое согласие в соответствии с Федеральным законом от 27.07.2006г. №152-ФЗ "О персональных данных" 
    на обработку своих персональных данных, в том числе в целях заключения и исполнения договора страхования гражданской ответственности Застройщика. 
    Такое согласие дается до 27.02.2019 г. и может быть отозвано в любой момент времени путем передачи подписанного письменного уведомления.</p>
<p style="font-size: 14px;">
	12.4. Участник долевого строительства подтверждает, что содержание сделки, ее последствия, ответственность, возникшие права и обязанности понятны, 
    что любые сомнения в содержании Договора и толковании его условий были им устранены до подписания Договора. Участник долевого строительства, 
    подтверждает, что он в дееспособности не ограничен, по состоянию здоровья может самостоятельно осуществлять, защищать свои права и исполнять 
    свои обязанности по Договору, не страдает заболеваниями, препятствующими осознавать суть подписываемого Договора и обстоятельств его заключения, 
    что у него отсутствуют причины  заключать Договор на крайне невыгодных для себя условиях (кабальная сделка), а также что заключение Договора 
    не нарушает какие-либо права или законные интересы третьих лиц.</p>
<p style="font-size: 14px;">
	12.5. Договор составлен в четырех идентичных экземплярах (либо по количеству участников): два экземпляра для Застройщика, один для Участника 
    долевого строительства, один экземпляр для органа, осуществляющего государственную регистрацию прав на недвижимое имущество и сделок с ним. 
    Все экземпляры имеют равную юридическую силу.</p>
<p style="font-size: 14px;">
    Стороны подтверждают, что все условия настоящего  Договора надлежащим образом согласованы Сторонами, полностью приняты Сторонами, соответствуют 
    интересам Сторон, являются приемлемыми для Участника долевого строительства и исполнимыми.</p>
<hr>
<p style="font-size: 14px;">
    Приложения к Договору участия в долевом строительстве:</p>    
<p style="font-size: 14px;">
    Приложение № 1 - Местоположение Объекта долевого строительства на плане  этажа  Объекта  и План  Объекта  долевого строительства;</p>    
<p style="font-size: 14px;">
    Приложение № 2 - Отделка Объекта долевого строительства. (если ДДУ с отделкой)</p>        
<hr>
<h3 style="font-size: 16px;">13. Адреса, реквизиты и подписи Сторон.</h3>
<p style="font-size: 14px;">
    13.1. Застройщик: 
    {{ my_company.orgform.short_name }}
    {{ my_company.short_name }}
    {{ my_company.address.coutry_full_name }}
    {{ my_company.address.region }}
    {{ my_company.address.locality }}
    {{ my_company.address.city }}
    {{ my_company.address.street }}
    {{ my_company.address.home }}
    {{ my_company.address.flat }}
    {{ my_company.inn }}
    {{ my_company.kpp }}
    {{ my_company.ogrn }}
    {{ my_company.bank.branch }}
    {{ my_company.bank.ks }}
    {{ my_company.bank.rs }}
    {{ my_company.director }}</p>

{% for sale in sales_clients %}
<p style="font-size: 14px;">
    {{ sale.client.passport.person.last_name }}
    {{ sale.client.passport.person.first_name }}
    {{ sale.client.passport.person.patr_name }}
    {{ sale.client.passport.address.coutry_full_name }}
    {{ sale.client.passport.address.region }}
    {{ sale.client.passport.address.locality }}
    {{ sale.client.passport.address.city }}
    {{ sale.client.passport.address.street }}
    {{ sale.client.passport.address.home }}
    {{ sale.client.passport.address.flat }}
    {{ sale.client.passport.bank.inn }}
    {{ sale.client.passport.bank.kpp }}
    {{ sale.client.passport.bank.ogrn }}
    {{ sale.client.passport.bank.branch }}
    {{ sale.client.passport.bank.ks }}
    {{ sale.client.passport.bank.rs }}
    {{ sale.client.passport.person }}</p>
{% endfor %}   
    </div>
</div>
{% endblock main %}