{% extends 'index.html' %}

{% block main %}


<div class="wrapper">
    <div class="account">

<h2>ДОГОВОР № {{ sale.number }}</h2>
<h3 style="font-size: 16px;">ДОЛЕВОГО УЧАСТИЯ В СТРОИТЕЛЬСТВЕ МНОГОКВАРТИРНОГО ДОМА</h3>
<span style="font-size: 14px;">{{ sale.city }} {{ sale.dt_issue }}</span>
<span style="font-size: 14px;">{{ my_company.orgform.full_name }} {{ my_company.full_name }}</span>
<span style="font-size: 14px;">, в лице {{ my_company.director.last_name }} {{ my_company.director.first_name }} {{ my_company.director.patr_name }}</span>
<span style="font-size: 14px;">, действующей на основании {{ my_company.director_power_type }}</span>
{% if my_company.director_power_number %}
<span style="font-size: 14px;">номер {{ my_company.director_power_number }}</span>
{% endif %}
{% if my_company.director_power_date %}
<span style="font-size: 14px;">от {{ my_company.director_power_date }}</span>
{% endif %}
<span style="font-size: 14px;">, именуемое в дальнейшем «Застройщик», с одной стороны, и</span>
{% for buyer in clients %}

    {% if buyer.bank_client.client.passport %}
        <span style="font-size: 14px;">
            {% if buyer.bank_client.client.passport.person.sex %}Гражданин{% else %}Гражданин{% endif %}
            {{ buyer.bank_client.client.passport.person.last_name }}
            {{ buyer.bank_client.client.passport.person.first_name }}
            {{ buyer.bank_client.client.passport.person.patr_name }}, 
            {{ buyer.bank_client.client.passport.person.birthday }} года рождения, 
            место рождения: {{ buyer.bank_client.client.passport.place_birth }},
            пол: {% if buyer.bank_client.client.passport.person.sex %}мужской{% else %}женский{% endif %},
            паспорт серии {{ buyer.bank_client.client.passport.series }} № {{ buyer.bank_client.client.passport.number }}
            выдан {{ buyer.bank_client.client.passport.police_name }} 
            года {{ buyer.bank_client.client.passport.dt_iisue }}, 
            код подразделения {{ buyer.bank_client.client.passport.police_code }},
            зарегистрирован по адресу: 
            {{ buyer.bank_client.client.passport.address.country_full_name }},
            {{ buyer.bank_client.client.passport.address.region }}, 
            {{ buyer.bank_client.client.passport.address.district }},
            {{ buyer.bank_client.client.passport.address.locality }},
            {{ buyer.bank_client.client.passport.address.city }}, 
            {{ buyer.bank_client.client.passport.address.home }},
            {{ buyer.bank_client.client.passport.address.flat }},
            контактный телефон: +7 _________________,
        </span>
    {% endif %}

{% endfor %}

<hr>

<p>
1.1. Объект недвижимости – Жилой дом № {{ flat.floor.section.house.number }}, </span>







<span style="font-size: 14px;">по строительному адресу: 
    
</span>
<span style="font-size: 14px;">в составе строительного объекта {{ flat.floor.section.house.microdistrict.full_name }}, </span>
<span style="font-size: 14px;">с инженерными сетями и благоустройством прилегающей территории, строящийся(создаваемый), </span>


</p>

<p>==================================================================================================</p>
<h3 style="font-size: 16px;">1. Общие положения</h3>
<p style="font-size: 14px;">
    1.1. В настоящем Договоре используются следующие основные понятия (определения):</p>
<p style="font-size: 14px;">
    1.1.1. Застройщик — хозяйственное общество, имеющее на праве собственности или на праве аренды земельный участок и 
    привлекающее денежные средства участников долевого строительства для строительства (создания) на этом земельном участке 
    Объекта на основании полученного разрешения на строительство.</p>
<p style="font-size: 14px;">
    1.1.2. Участник долевого строительства — физическое лицо, которое в соответствии с условиями Договора направляет денежные 
    средства на создание Объекта с целью возникновения у него права собственности на Объект долевого строительства.</p>
<p style="font-size: 14px;">
    1.1.3. Объект – строящийся Застройщиком {{ my_company.orgform.short_name }} {{ my_company.full_name }}, имеющий следующие характеристики:</p>
<div class="table-wrapper">
    <table>
        <tbody>
            <tr><td>Вид строящегося объекта</td><td>многоквартирный жилой дом</td></tr>
            <tr><td>Номер (строительный)</td><td>{{ flat.floor.section.house.number }}</td></tr>
            <tr><td>Этажность</td><td>{{ flat.floor.section.house.number_of_floors }}</td></tr>
            <tr><td>Общая площадь</td><td>{{ flat.floor.section.house.square }}</td></tr>
            <tr><td>Количество квартир</td><td>{{ flat.floor.section.house.count_flats }}</td></tr>
            <tr><td>Материал наружных стен</td><td>{{ flat.floor.section.house.material_wall.name }}</td></tr>
            <tr><td>Материал поэтажных перекрытий</td><td>{{ flat.floor.section.house.material_floor.name }}</td></tr>
            <tr><td>Класс энергоэффективности</td><td>{{ flat.floor.section.house.energy_save.name }}</td></tr>
            <tr><td>Сейсмостойкость</td><td>{{ flat.floor.section.house.seismic.name }}</td></tr>
        </tbody>
    </table>
</div>
<p style="font-size: 14px;">
    и   расположенный  по адресу: 
    {{ flat.floor.section.house.address.country_full_name }},
    {{ flat.floor.section.house.address.region }},
    {{ flat.floor.section.house.address.district }},
    {{ flat.floor.section.house.address.locality }}
    {{ flat.floor.section.house.address.city }},
    {{ flat.floor.section.house.address.street }},
    {{ flat.floor.section.house.number }}.
    Указанные характеристики являются проектными (планируемыми).</p>
<p style="font-size: 14px;">1.1.4. Земельный участок - земельный участок, 
    кадастровый номер: {{ flat.floor.section.house.building_permit.land_plot.number }},
    имеющий общую площадь {{ flat.floor.section.house.building_permit.land_plot.square }} кв.м., 
    категория земель: {{ flat.floor.section.house.building_permit.land_plot.category }}; 
    вид разрешенного использования земельного участка: {{ flat.floor.section.house.building_permit.land_plot.usage }}, 
    принадлежащего  застройщику на праве {{ flat.floor.section.house.building_permit.land_plot.owner_type }}, 
    номер документа подтверждающего право: {{ flat.floor.section.house.building_permit.land_plot.owner_number }}
    от {{ flat.floor.section.house.building_permit.land_plot.owner_reg_date }}.
</p>
<p style="font-size: 14px;">
    1.1.5. Объект долевого строительства — жилое помещение (квартира) с относящимися к ней  лоджиями и/или балконами
    (далее по тексту – летние помещения)   в соответствии с п.2.2. Договора и  Приложением №1 к Договору, 
    подлежащие передаче Участнику долевого строительства после получения разрешения на ввод в эксплуатацию Объекта 
    и входящие в состав указанного Объекта, строящегося (создаваемые) с привлечением  денежных средств Участника долевого строительства.</p>
<p style="font-size: 14px;">
    1.1.6. Федеральный закон № 214-ФЗ — Федеральный закон от 30.12.2004 г. № 214-ФЗ «Об участии в долевом строительстве 
    многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты РФ».</p>
<p style="font-size: 14px;">
    1.1.7. Площадь Объекта долевого строительства (приведенная площадь) — площадь жилого помещения (квартиры), 
    включающая в себя площадь всех помещений, в том числе площадь летних помещений (лоджий) с применением понижающих коэффициентов, 
    определенная в соответствии с действующим законодательством.</p>
<p style="font-size: 14px;">
    1.2. Строительство Объекта ведется на основании Разрешения на строительство 
    № {{ flat.floor.section.house.building_permit.number }} от {{ flat.floor.section.house.building_permit.dt_issue }}</p>
<p style="font-size: 14px;">
        1.3. Проектная декларация, включающая в себя информацию о Застройщике и о проекте строительства Объекта, 
        размещена  на  официальном  сайте Застройщика {{ my_company.site }} в сети Интернет, оригинал проектной декларации находится у Застройщика.</p>
<p style="font-size: 14px;">
    1.4. Банк – {{ sale.escrow_agent.orgform.full_name }} {{ sale.escrow_agent.full_name }},
    ОГРН {{ sale.escrow_agent.ogrn }}, 
    ИНН {{ sale.escrow_agent.inn }}, 
    К/счет {{ sale.escrow_agent.bank.ks }} в {{ sale.escrow_agent.bank.branch }}, 
    БИК {{ sale.escrow_agent.bank.bik }}, 
    являющийся кредитной организацией по законодательству Российской Федерации.
    адрес: {{ sale.escrow_agent.address.country_full_name }},
    {{ sale.escrow_agent.address.region }},
    {{ sale.escrow_agent.address.district }},
    {{ sale.escrow_agent.address.locality }},
    {{ sale.escrow_agent.address.city }},
    {{ sale.escrow_agent.address.street }},
    {{ sale.escrow_agent.address.home }},
    {{ sale.escrow_agent.address.flat }}.</p>
<hr>
<h3 style="font-size: 16px;">2. Предмет Договора</h3>
<p style="font-size: 14px;">
    2.1. По настоящему Договору Застройщик обязуется в срок, указанный в Проектной декларации, своими силами и (или) 
    с привлечением других лиц построить (создать) Объект, названный в разделе 1 Договора, 
    и после получения разрешения на ввод в эксплуатацию этого Объекта передать Участнику долевого 
    строительства соответствующий Объект долевого строительства, а Участник долевого строительства 
    обязуется уплатить обусловленную Договором цену и принять Объект долевого строительства 
    при наличии разрешения на ввод в эксплуатацию Объекта.
</p>
<p style="font-size: 14px;">
    2.2. Объект долевого строительства имеет следующие проектные характеристики (выбрать необходимое):</p>
<div class="table-wrapper">
    <table>
        <tbody>
            <tr><td>Проектный номер</td><td>{{ flat.number }}</td></tr>
            <tr><td>Жилых комнат</td><td>{{ flat.living_rooms }}</td></tr>
            <tr><td>Всего комнат</td><td>{{ flat.count_rooms }}</td></tr>
            <tr><td>Площадь комнат</td><td>{{ flat.square }}</td></tr>
            <tr><td>Этаж</td><td>{{ flat.floor.number }}</td></tr>
            <tr><td>Секция</td><td>{{ flat.floor.section.number }}</td></tr>
            <tr><td>Назначение</td><td>Жилое</td></tr>
        </tbody>
    </table>
</div>
Местоположение Объекта долевого строительства на плане этажа многоквартирного жилого дома, входящего в состав Объекта,  определяется в Приложении № 1 к Договору.
<p style="font-size: 14px;">
    2.3. Учитывая, что Застройщик передает Объект долевого строительства Участнику долевого строительства не ранее, 
    чем после получения в установленном порядке разрешения на ввод в эксплуатацию Объекта, 
    срок передачи Застройщиком Объекта долевого строительства Участнику долевого строительства - 
    {{ flat.floor.section.house.building_permit.dt_expiry }} включительно. 
    Стороны соглашаются, что допускается досрочное исполнение Застройщиком обязательства по передаче Объекта долевого строительства.</p>
<p style="font-size: 14px;">
    2.4. Участник долевого строительства выражает свое письменное согласие на раздел, выдел 
    Земельного участка, указанного в п.1.1. Договора, в период действия настоящего Договора, 
    в соответствии с требованиями ст.11.2 Земельного кодекса Российской Федерации, с последующим 
    оформлением прав Застройщика на вновь образованные земельные участки и сохранением 
    установленного на основании ст.13 Федерального закона № 214  залога на образованный 
    земельный участок, на котором располагается Объект.  При этом Участник долевого строительства 
    выражает свое согласие на прекращение залога на иные образованные в результате раздела, выдела 
    Земельного участка участки, не отведенные для строительства Объекта.  Участник долевого строительства 
    соглашается с тем, что раздел, выдел Земельного участка не является существенным изменением проектной 
    документации или характеристик Объекта и не влияет на объем его прав и обязанностей по Договору. 
    Получение согласия Участника долевого строительства на раздел, выдел Земельного участка и сохранение 
    залога на образованный земельный участок, на котором располагается Объект, в какой-либо иной форме не требуется.</p>
<p style="font-size: 14px;">
    2.5 Участник долевого строительства проинформирован о том, что в соответствии с ч. 7 ст. 13 
    Федерального закона №214 Застройщик вправе передать права на Земельный участок и/или участки, 
    образованные в результате раздела,  выдела Земельного участка, в обеспечение исполнения обязательств 
    Застройщика перед  банком по возврату кредита на строительство  Объекта, при условии получения от 
    банка согласия на удовлетворение своих требований за счет заложенного имущества в соответствии с частью 2 ст. 
    15 Федерального закона №214 и согласия на прекращение права залога на объекты долевого строительства в случае, 
    предусмотренном ч. 8 ст. 13 Федерального закона № 214.</p>
<p style="font-size: 14px;">
    2.6. До подписания настоящего Договора Участник долевого строительства ознакомился с Проектной декларацией 
    и согласен на размещение и публикацию всех изменений и дополнений, вносимых Застройщиком в Проектную декларацию, 
    в информационно-телекоммуникационной сети «Интернет» на сайте {{ my_company.site }}.</p>
<p style="font-size: 14px;">
    2.7. Застройщик гарантирует Участнику долевого строительства, что на момент подписания настоящего Договора 
    права требования на Объект долевого строительства  не проданы, не заложены, правами третьих лиц не обременены, 
    в споре или под арестом не состоят.</p>
       
  
    
    


    
    </div>
</div>
{% endblock main %}