{% extends 'index.html' %}

{% block main %}

<h2>Новый договор</h2>
<div class="wrapper">
    <div class="account">
        <div class="account-point">
            <div class="account-point-title">ДОГОВОР участия в долевом строительстве №</div>
            <div class="account-point-data"><span class="accept">{{ flat.sale_number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">город</div>
            <div class="account-point-data"><span class="accept">{{ my_company.address.city }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">дата договора</div>
            <div class="account-point-data"><input style="width: 200px;" name="dt_sale" type="date" placeholder="Дата договора" value=""></div>
        </div>
<hr>
        <div class="account-point">
            <div class="account-point-title">Застройщик</div>
            <div class="account-point-data"><span class="accept">{{ my_company.orgform.full_name }}</span> </div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Застройщик полное наименование</div>
            <div class="account-point-data"><span class="accept">{{ my_company.full_name }}</span> </div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Застройщик сокращенное наименование</div>
            <div class="account-point-data"><span class="accept">{{ my_company.short_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор фамилия</div>
            <div class="account-point-data"><span class="accept">{{ my_company.director.last_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор имя</div>
            <div class="account-point-data"><span class="accept">{{ my_company.director.first_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор отчество</div>
            <div class="account-point-data"><span class="accept">{{ my_company.director.patr_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Действующего на основании документ</div>
            <div class="account-point-data"><span class="accept">{{ my_company.director_power_type }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Действующего на основании номер</div>
            {% if my_company.director_power_number %}
            <div class="account-point-data"><span class="accept">{{ my_company.director_power_number }}</span></div>
            {% else %}
            <div class="account-point-data"><span class="accept"> - </span></div>
            {% endif %}
        </div> 
        <div class="account-point">
            <div class="account-point-title">Действующего на основании дата</div>
            {% if my_company.director_power_date %}
            <div class="account-point-data"><span class="accept">{{ my_company.director_power_date }}</span></div>
            {% else %}
            <div class="account-point-data"><span class="accept"> - </span></div>
            {% endif %}
        </div>
    <form action="" method="post">
        {% csrf_token %}
        <input name="form" hidden value="create_new_sale">
        <input name="sale_number" hidden value="{{ flat.sale_number }}">
        <input name="sale_city" hidden value="{{ my_company.address.city }}">

        <div class="account-point">
            <div class="account-point-title">Дата договора</div>
            <div class="account-point-data"><input name="sale_date" type="date" value=""></div>
        </div>
        <div class="client">
            <div class="switch">
                <div class="switch-tab" data-fieldset="person">Основные</div>
                <div class="switch-tab" data-fieldset="passport">Паспорт</div>
                <div class="switch-tab" data-fieldset="address">Адрес</div>
                <div class="switch-tab" data-fieldset="requisites">Реквизиты</div>
            </div>
            <fieldset data-fieldset="person">
                <div class="account-point">
                    <div class="account-point-title">Гражданин фамилия</div>
                    <div class="account-point-data"><input name="person_last_name" type="text" placeholder="Фамилия" value=""></div>
                </div> 
                <div class="account-point">
                    <div class="account-point-title">Гражданин имя</div>
                    <div class="account-point-data"><input name="person_first_name" type="text" placeholder="Имя" value=""></div>
                </div> 
                <div class="account-point">
                    <div class="account-point-title">Гражданин отчество</div>
                    <div class="account-point-data"><input name="person_patr_name" type="text" placeholder="отчество" value=""></div>
                </div> 
                <div class="account-point">
                    <div class="account-point-title">Гражданин пол</div>
                    <div class="account-point-data">
                        <div class="radio">
                            <input type="radio" name="person_sex" value="1" checked />
                            <label>Мужской</label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="person_sex" value="" />
                            <label>Женский</label>
                        </div>
                    </div>
                </div>
                <div class="account-point">
                    <div class="account-point-title">Гражданин дата рождения</div>
                    <div class="account-point-data"><input name="person_birthday" type="date"value=""></div>
                </div>
            </fieldset>
            <fieldset class="hide" data-fieldset="passport">
                <div class="account-point">
                    <div class="account-point-title">Паспорт серия</div>
                    <div class="account-point-data"><input name="passport_series" type="text" placeholder="Серия" value=""></div>
                </div>
                <div class="account-point">
                    <div class="account-point-title">Паспорт номер</div>
                    <div class="account-point-data"><input name="passport_number" type="text" placeholder="Номер" value=""></div>
                </div>
                <div class="account-point">
                    <div class="account-point-title">Паспорт место рождения</div>
                    <div class="account-point-data"><input name="passport_place_birth" type="text" placeholder="Место рождения" value=""></div>
                </div>
                <div class="account-point">
                    <div class="account-point-title">Паспорт выдан когда</div>
                    <div class="account-point-data"><input name="passport_dt_issue" type="date" value=""></div>
                </div>
                <div class="account-point">
                    <div class="account-point-title">Паспорт выдан кем</div>
                    <div class="account-point-data"><input name="passport_police_name" type="text" placeholder="Кем выдан" value=""></div>
                </div>
                <div class="account-point">
                    <div class="account-point-title">Паспорт выдан код подразделения</div>
                    <div class="account-point-data"><input name="passport_police_code" type="text" placeholder="Код подразделения" value=""></div>
                </div>
            </fieldset>
            <fieldset class="hide" data-fieldset="address">
                    <select name="region" required>
                        <option value="">Регион</option>
                    </select>
                    <select name="district" required>
                        <option value="">Район</option>
                    </select>
                    <select name="locality" required>
                        <option value="город">Город</option>
                        <option value="деревня">Деревня</option>
                        <option value="поселок">Поселок</option>
                        <option value="село">Село</option> 
                    </select> 
                    <select name="city" required>
                        <option value="">Населенный пункт</option>
                    </select>
                    <input name="street" type="text" placeholder="Улица" autocomplete="off">
                    <input name="home" type="text" placeholder="Дом" autocomplete="off"> 
                    <input name="flat" type="text" placeholder="Квартира" autocomplete="off">   
            </fieldset>
            <fieldset class="hide" data-fieldset="requisites">
                <input name="bik_number" type="search" placeholder="Бик номер" autocomplete="off" value="">
                <input name="bik_branch" readonly placeholder="Наименование отделения" autocomplete="off" value="">
                <input name="bik_city" readonly placeholder="Город" autocomplete="off" value="">
                <input name="bik_address" readonly placeholder="Адрес" autocomplete="off" value="">
                <input name="bik_ks" readonly placeholder="Корреспондентский счёт" autocomplete="off" value="">
                <input name="bik_rs" placeholder="Расчетный счёт" autocomplete="off" value="">
            </fieldset>
        </div>   
        <div class="row">
            <div class="column col-3"></div>
            <input class="column col-3 delete" type="button" value="Удалить">
            <input class="column col-3 add" type="button" value="Добавить">
            <input class="column col-3" type="reset" value="Очистить">
            <input class="column col-3" type="submit" value="Сохранить">
        </div>
    </form>    
        
        
        
<hr>
        <div class="account-point">
            <div class="account-point-title" style="font-weight: bold;">Общие положения</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом вид</div>
            <div class="account-point-data"><span class="accept">Многоквартирный жилой дом</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом этажность</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.number_of_floors }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом общая площадь</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.square }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом материал стен</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.material_wall.name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом материал перекрытий</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.material_floor.name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом энергоэффективность</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.energy_save.name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом сейсмостойкости</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.seismic.name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес страна</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.country_full_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес регион</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.region }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес район</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.district }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес населенный пункт</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.locality }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес название пункта</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.city }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес улица</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.street }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес номер по ГП</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес страна</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.country_full_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес регион</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.region }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес населенный пункт</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.locality }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес название пункта</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.city }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес улица</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.street }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок площадь</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.square }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок кадастровый номер</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок категория</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.category }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок вид разрешенного использования</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.usage }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_type }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор номер</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор дата</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_date }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор номер регистрации</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_reg_number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор дата регистрации</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_reg_date }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор дата выписки</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="date" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Квартира площадь</div>
            <div class="account-point-data"><span class="accept">{{ flat.square }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Разрешение на строительство номер</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Застройщик сайт</div>
            <div class="account-point-data"><span class="accept">{{ my_company.site }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Эскроу агент</div>
            <div class="account-point-data">
                <select name="escrow_agent" required>
                    <option value="">Выбрать эскроу агента</option>
                    {% for escrow_agent in escrow_agents %}
                    <option value="{{ orgform.id }}">{{ escrow_agent.short_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    
<hr>
    <div class="account-point">
        <div class="account-point-title" style="font-weight: bold;">Предмет Договора</div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Номер квартиры</div>
        <div class="account-point-data"><span class="accept">{{ flat.number }}</span></div>
    </div>   
    <div class="account-point">
        <div class="account-point-title">Количество жилых комнат</div>
        <div class="account-point-data"><span class="accept">{{ flat.living_rooms }}</span></div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Количество комнат</div>
        <div class="account-point-data"><span class="accept">{{ flat.count_rooms }}</span></div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Площадь комнат</div>
        <div class="account-point-data"><span class="accept">{{ flat.square }}</span></div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Этаж</div>
        <div class="account-point-data"><span class="accept">{{ flat.floor.number }}</span></div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Секция</div>
        <div class="account-point-data"><span class="accept">{{ flat.floor.section.number }}</span></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Назначение объекта</div>
        <div class="account-point-data"><span class="accept">Жилое помещение</span></div>
    </div>

<hr>
    <div class="account-point">
        <div class="account-point-title" style="font-weight: bold;">Состав объекта</div>
    </div>
    {% for room in rooms %}
    <div class="account-point">
        <div class="account-point-title">{{ room.room_type.name }}</div>
        <div class="account-point-data"><span class="accept">{{ room.square }}</span></div>
    </div>
    {% endfor %}

    <div class="account-point">
        <div class="account-point-title">Внутреняя отделка</div>
        <div class="account-point-data">
            <span class="accept">
            <div class="radio">
                <input type="radio" name="sex" value="1" checked />
                <label>с отделкой</label>
            </div>
            <div class="radio">
                <input type="radio" name="sex" value="" />
                <label>без отделки</label>
            </div>
            </span>
        </div>
    </div>
<hr>
    <div class="account-point">
        <div class="account-point-title">Срок передачи</div>
        <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.dt_expiry }}</span></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Ознакомлен с проектной декларацией</div>
        <div class="account-point-data"><span class="accept">{{ my_company.site }}</span></div>
    </div>

<hr>
    <div class="account-point">
        <div class="account-point-title" style="font-weight: bold;">Цена договора и оплата</div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Сумма договора</div>
        <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Сумма" value=""></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Оплата в течении (дней)</div>
        <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Дней" value=""></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Собственные средства</div>
        <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Сумма" value=""></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Кредитные средства</div>
        <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Сумма" value=""></div>
    </div>

    
  
    
    


    
    </div>
</div>
{% endblock main %}