{% extends 'index.html' %}

{% block main %}

<h2>Новый договор</h2>
<div class="wrapper">
    <div class="account">    
    <form action="" method="post">
        {% csrf_token %}
        <input name="form" hidden value="create_new_sale">
        <input name="sale_flat" hidden value="{{ flat.id }}">
        <input name="sale_number" hidden value="{{ flat.sale_number }}">
        <input name="sale_city" hidden value="{{ my_company.address.city }}">
        <div class="contract">
            <fieldset class="contract-about">
                <label>Новый договор</label>
                <input name="" readonly value="Договор № {{ flat.sale_number }}">
                <input name="" readonly value="Жилой дом № {{ flat.floor.section.house.number }}">
                <input name="" readonly value="Квартира № {{ flat.number }}">
                <input name="" readonly value="Площадь {{ flat.square }}">
            </fieldset>
            <fieldset class="contract-data">
                <label>Сведения о договоре</label>
                <input name="sale_date" placeholder="Дата договора" onfocus="(this.type='date')" type="text" value="">
                <select name="escrow_agent" required>
                    <option value="">Выбрать эскроу агента</option>
                    {% for escrow_agent in escrow_agents %}
                    <option value="{{ escrow_agent.id }}">{{ escrow_agent.short_name }}</option>
                    {% endfor %}
                </select>
                <input name="sale_price" type="text" placeholder="Сумма" value="">
                <div class="radio-box">
                    <div class="radio-box-label">Отделка:</div>
                    <div class="radio">
                        <input type="radio" name="sale_interior_decoration" value="1" checked>
                        <span>Да</span>
                    </div>
                    <div class="radio">
                        <input type="radio" name="sale_interior_decoration" value="">
                        <span>Нет</span>
                    </div>
                </div>
            </fieldset>
        </div> 
        <div class="client">
            <fieldset data-fieldset="person">
                <label>Клиент</label>
                <input name="person_last_name" type="text" placeholder="Фамилия" value="">
                <input name="person_first_name" type="text" placeholder="Имя" value="">
                <input name="person_patr_name" type="text" placeholder="отчество" value="">
                <input name="person_birthday" placeholder="Дата рождения" onfocus="(this.type='date')" type="text" value="">
                <div class="radio-box">
                    <div class="radio-box-label">Пол:</div>
                    <div class="radio">
                        <input type="radio" name="person_sex" value="1" checked>
                        <span>М</span>
                    </div>
                    <div class="radio">
                        <input type="radio" name="person_sex" value="">
                        <span>Ж</span>
                    </div>
                </div>
            </fieldset>
            <fieldset data-fieldset="passport">
                <label>Паспорт</label>
                <input name="passport_series" type="text" placeholder="Серия" value="">
                <input name="passport_number" type="text" placeholder="Номер" value="">
                <input name="passport_place_birth" type="text" placeholder="Место рождения" value="">
                <input name="passport_dt_issue" placeholder="Дата получения" onfocus="(this.type='date')" type="text" value="">
                <input name="passport_police_name" type="text" placeholder="Кем выдан" value="">
                <input name="passport_police_code" type="text" placeholder="Код подразделения" value="">

            </fieldset>


            <fieldset class="address-block" data-fieldset="address">
                <label>Адрес</label>
                <select name="region" required>
                    <option value="">Регион</option>
                </select>
                <select name="district" required>
                    <option value="">Район</option>
                </select>
                <select name="locality" required>
                    <option value="город">Город</option>
                    <option value="деревня">Деревня</option>
                    <option value="поселок">Поселок</option>
                    <option value="село">Село</option> 
                </select> 
                <select name="city" required>
                    <option value="">Населенный пункт</option>
                </select>
                <input name="street" type="text" placeholder="Улица" autocomplete="off">
                <input name="home" type="text" placeholder="Дом" autocomplete="off"> 
                <input name="flat" type="text" placeholder="Квартира" autocomplete="off">   
            </fieldset>


            <fieldset data-fieldset="requisites">
                <label>Банк</label>
                <input name="bik_number" type="search" placeholder="Бик номер" autocomplete="off" value="">
                <input name="bik_branch" readonly placeholder="Наименование отделения" autocomplete="off" value="">
                <input name="bik_city" readonly placeholder="Город" autocomplete="off" value="">
                <input name="bik_address" readonly placeholder="Адрес" autocomplete="off" value="">
                <input name="bik_ks" readonly placeholder="Корреспондентский счёт" autocomplete="off" value="">
                <input name="bik_rs" placeholder="Расчетный счёт" autocomplete="off" value="">
            </fieldset>

            <fieldset data-fieldset="portion">
                <label>Доля участия</label>
                <input name="sale_part" type="text" placeholder="Доля участия" value="">
                <input name="sale_pay_days" type="text" placeholder="Оплата в течении (дней)" value="">
                <input name="sale_own_money" type="text" placeholder="Собственные средства" value="">
                <input name="sale_credit_money" name="" type="text" placeholder="Кредитные средства" value="">
            </fieldset>
        </div>   
        <div class="row">
            <div class="column col-3"></div>
            <input class="column col-3 delete" type="button" value="Удалить">
            <input class="column col-3 add" type="button" value="Добавить">
            <input class="column col-3" type="reset" value="Очистить">
            <input class="column col-3" type="submit" value="Сохранить">
        </div>
    </form>    
    </div>
</div>
{% endblock main %}