{% extends 'index.html' %}

{% block main %}
<h2>Новый договор</h2>
<div class="wrapper">
    <div class="account">
        <div class="account-point">
            <div class="account-point-title">ДОГОВОР участия в долевом строительстве №</div>
            <div class="account-point-data"><span class="accept">{{ flat.sale_number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">город</div>
            <div class="account-point-data"><span class="accept">{{ my_company.address.city }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">дата договора</div>
            <div class="account-point-data"><input style="width: 200px;" name="dt_sale" type="date" placeholder="Дата договора" value=""></div>
        </div>
<hr>
        <div class="account-point">
            <div class="account-point-title">Застройщик</div>
            <div class="account-point-data"><span class="accept">{{ my_company.orgform.full_name }}</span> </div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Застройщик полное наименование</div>
            <div class="account-point-data"><span class="accept">{{ my_company.full_name }}</span> </div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Застройщик сокращенное наименование</div>
            <div class="account-point-data"><span class="accept">{{ my_company.short_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор фамилия</div>
            <div class="account-point-data"><span class="accept">{{ my_company.director.last_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор имя</div>
            <div class="account-point-data"><span class="accept">{{ my_company.director.first_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор отчество</div>
            <div class="account-point-data"><span class="accept">{{ my_company.director.patr_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Действующего на основании документ</div>
            <div class="account-point-data"><span class="accept">{{ my_company.director_power_type }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Действующего на основании номер</div>
            {% if my_company.director_power_number %}
            <div class="account-point-data"><span class="accept">{{ my_company.director_power_number }}</span></div>
            {% else %}
            <div class="account-point-data"><span class="accept"> - </span></div>
            {% endif %}
        </div> 
        <div class="account-point">
            <div class="account-point-title">Действующего на основании дата</div>
            {% if my_company.director_power_date %}
            <div class="account-point-data"><span class="accept">{{ my_company.director_power_date }}</span></div>
            {% else %}
            <div class="account-point-data"><span class="accept"> - </span></div>
            {% endif %}
        </div>

        <div class="account-point">
            <div class="account-point-title">Гражданин фамилия</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Фамилия" value=""></div>
        </div> 
        <div class="account-point">
            <div class="account-point-title">Гражданин имя</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Имя" value=""></div>
        </div> 
        <div class="account-point">
            <div class="account-point-title">Гражданин отчество</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="отчество" value=""></div>
        </div> 
        <div class="account-point">
            <div class="account-point-title">Гражданин пол</div>
            <div class="account-point-data">
                <span class="accept">
                    <div class="radio">
                        <input type="radio" name="sex" value="1" checked />
                        <label>Мужской</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="sex" value="" />
                        <label>Женский</label>
                    </div>
                </span>
            </div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Гражданин дата рождения</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="date" placeholder="Серия" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Паспорт номер</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Серия" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Паспорт серия</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Номер" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Паспорт место рождения</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Место" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Паспорт выдан когда</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="date" placeholder="Выдан" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Паспорт выдан кем</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Кем" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Паспорт выдан код подразделения</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Код" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Регистрация страна</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Страна" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Регистрация регион</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Регион" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Регистрация район</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Район" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Регистрация город</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Город" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Регистрация улица</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Улица" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Регистрация квартира</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Квартира" value=""></div>
        </div>
<hr>
        <div class="account-point">
            <div class="account-point-title" style="font-weight: bold;">Общие положения</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом вид</div>
            <div class="account-point-data"><span class="accept">Многоквартирный жилой дом</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом этажность</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.number_of_floors }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом общая площадь</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.square }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом материал стен</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.material_wall.name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом материал перекрытий</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.material_floor.name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом энергоэффективность</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.energy_save.name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом сейсмостойкости</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.seismic.name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес страна</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.country_full_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес регион</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.region }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес район</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.district }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес населенный пункт</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.locality }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес название пункта</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.city }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес улица</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.address.street }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Жилой дом адрес номер по ГП</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес страна</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.country_full_name }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес регион</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.region }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес населенный пункт</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.locality }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес название пункта</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.city }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок адрес улица</div>
            <div class="account-point-data"><span class="danger">{{ flat.floor.section.house.address.street }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок площадь</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.square }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок кадастровый номер</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок категория</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.category }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок вид разрешенного использования</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.usage }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_type }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор номер</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор дата</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_date }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор номер регистрации</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_reg_number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор дата регистрации</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.land_plot.owner_reg_date }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Земельный участок право договор дата выписки</div>
            <div class="account-point-data"><input style="width: 200px;" name="" type="date" value=""></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Квартира площадь</div>
            <div class="account-point-data"><span class="accept">{{ flat.square }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Разрешение на строительство номер</div>
            <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.number }}</span></div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Застройщик сайт</div>
            <div class="account-point-data"><span class="accept">{{ my_company.site }}</span></div>
        </div>
    
    1.4. Банк – _______________________ (место нахождения: _____________, ОГРН _______________, ИНН ________________, 
    К/счет _______________________ в _______________, БИК ____________, (лицензии Банка России на осуществление банковских операций №________ 
    от __________________ года), являющийся кредитной организацией по законодательству Российской Федерации.
    
<hr>
    <div class="account-point">
        <div class="account-point-title" style="font-weight: bold;">Предмет Договора</div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Номер квартиры</div>
        <div class="account-point-data"><span class="accept">{{ flat.number }}</span></div>
    </div>   
    <div class="account-point">
        <div class="account-point-title">Количество жилых комнат</div>
        <div class="account-point-data"><span class="accept">{{ flat.living_rooms }}</span></div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Количество комнат</div>
        <div class="account-point-data"><span class="accept">{{ flat.count_rooms }}</span></div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Площадь комнат</div>
        <div class="account-point-data"><span class="accept">{{ flat.square }}</span></div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Этаж</div>
        <div class="account-point-data"><span class="accept">{{ flat.floor.number }}</span></div>
    </div> 
    <div class="account-point">
        <div class="account-point-title">Секция</div>
        <div class="account-point-data"><span class="accept">{{ flat.floor.section.number }}</span></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Назначение объекта</div>
        <div class="account-point-data"><span class="accept">Жилое помещение</span></div>
    </div>

<hr>
    <div class="account-point">
        <div class="account-point-title" style="font-weight: bold;">Состав объекта</div>
    </div>
    {% for room in rooms %}
    <div class="account-point">
        <div class="account-point-title">{{ room.room_type.name }}</div>
        <div class="account-point-data"><span class="accept">{{ room.square }}</span></div>
    </div>
    {% endfor %}

    <div class="account-point">
        <div class="account-point-title">Внутреняя отделка</div>
        <div class="account-point-data">
            <span class="accept">
            <div class="radio">
                <input type="radio" name="sex" value="1" checked />
                <label>с отделкой</label>
            </div>
            <div class="radio">
                <input type="radio" name="sex" value="" />
                <label>без отделки</label>
            </div>
            </span>
        </div>
    </div>
<hr>
    <div class="account-point">
        <div class="account-point-title">Срок передачи</div>
        <div class="account-point-data"><span class="accept">{{ flat.floor.section.house.building_permit.dt_expiry }}</span></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Ознакомлен с проектной декларацией</div>
        <div class="account-point-data"><span class="accept">{{ my_company.site }}</span></div>
    </div>

<hr>
    <div class="account-point">
        <div class="account-point-title" style="font-weight: bold;">Цена договора и оплата</div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Сумма договора</div>
        <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Сумма" value=""></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Оплата в течении (дней)</div>
        <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Дней" value=""></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Собственные средства</div>
        <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Сумма" value=""></div>
    </div>
    <div class="account-point">
        <div class="account-point-title">Кредитные средства</div>
        <div class="account-point-data"><input style="width: 200px;" name="" type="text" placeholder="Сумма" value=""></div>
    </div>

    по Кредитному договору № _________ от ___________ 20__ г., заключенному в городе ________ между Участником долевого строительства 
    и Банком (далее – Кредитный договор), в лице _____________________ отделения ________ ПАО Сбербанк, 
    местонахождение: ______________________________, ИНН 7707083893, почтовый адрес: _________________________________________, 
    Реквизиты: Счет ___________________________________ в ПAO Сбербанк, к/с 30101810400000000225 ГУ Банка России по ЦФО, ИНН 7707083893, 
    БИК 044525225, ОГРН 1027700132195), являющимся кредитной организацией по законодательству Российской Федерации 
    (Генеральная лицензия Банка России на осуществление банковских операций от 08.08.2012 г. № 1481), именуемым в дальнейшем Банк.
  
    <div class="account-point">
        <div class="account-point-title">Эскроу агент</div>
        <div class="account-point-data">
            <select name="escrow_agent" required>
                <option value="">Выбрать эскроу агента</option>
                {% for escrow_agent in escrow_agents %}
                <option value="{{ orgform.id }}">{{ escrow_agent.short_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    


    
    </div>
</div>
{% endblock main %}