{% extends 'index.html' %}

{% block main %}
<main>

    <h2>Rooms {{ user }}</h2>
    <article>
        <h2>Типы комнат</h2>
        <div class="popup">
            <button class="open_btn">Добавить</button>
            <div class="back close">
                <div class="wrapper_form">
                    <form action="" method="post">
                        <div class="form_title">Добавить тип комнаты</div>
                        {% csrf_token %}
                        <input name="form" hidden value="new_room_type">
                        <input name="room_name" type="text" placeholder="наименование комнаты">
                        <div>
                            <select name="koef_price" required>
                                <option value="">Установите ценовой коэффициент</option>
                                {% for koef in koef_prices %}
                                <option value="{{ koef }}">{{ koef }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label>Жилая / не жилая</label>
                            <input type="checkbox" name="living">
                        </div>
                        
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <button class="close_btn btn_round close">X</button>
        </div>
    </article>
    <article>
        <h2>Планировки квартир</h2>
        <div class="popup">
            <button class="open_btn">Добавить</button>
            <div class="back close">
                <div class="wrapper_form">
                    <form action="" method="post">
                        <div class="form_title">Создание планировки квартиры</div>
                        {% csrf_token %}
                        <input name="form" hidden value="new_flat">
                        <div class="select_box">
                            <div class="select_title">
                                <div>Добавить комнату</div>
                                <div class="control_box">
                                    <button type="button" class="add_select btn_round">+</button>
                                    <button type="button" class="del_select btn_round">-</button>
                                </div>
                            </div>
                            <hr>
                            <div class="select_data">
                                <input name="flat_name" placeholder="Обозначение типа квартиры" value=""> 
                                <div class="select_item">
                                    <select name="room" class="left" required>
                                        <option value="">Выбрать комнату</option>
                                        {% for room_type in room_types %}
                                        <option value="{{ room_type.id }}">{{ room_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input name="square" class="right" value="" placeholder="0.0">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <button class="close_btn btn_round close">X</button>
        </div>
    </article>
    <article>
        <h2>Планы этажей</h2>
        <div class="popup">
            <button class="open_btn">Добавить</button>
            <div class="back close">
                <div class="wrapper_form">
                    <form action="" method="post">
                        <div class="form_title">Создание плана этажа</div>
                        {% csrf_token %}
                        <input name="form" hidden value="new_floor">
                        <div class="select_box">
                            <div class="select_title">
                                <div>Добавить квартиру</div>
                                <div class="control_box">
                                    <button type="button" class="add_select btn_round">+</button>
                                    <button type="button" class="del_select btn_round">-</button>
                                </div>
                            </div>
                            <hr>
                            <div class="select_data">
                                <input name="floor_name" placeholder="Обозначение плана этажа" value=""> 
                                <div class="select_item">
                                    <select name="flat" required>
                                        <option value="">Выбрать тип квартиры</option>
                                        {% for flat in flats %}
                                        <option value="{{ flat.name }}">{{ flat.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <button class="close_btn btn_round close">X</button>
        </div>
    </article>
    <article>
        <h2>Типы секций</h2>
        <div class="popup">
            <button class="open_btn">Добавить</button>
            <div class="back close">
                <div class="wrapper_form">
                    <form action="" method="post">
                        <div class="form_title">Создание типовой секции</div>
                        {% csrf_token %}
                        <input name="form" hidden value="new_section">
                        <div class="select_box">
                            <div class="select_title">
                                <div>Добавить план этажа</div>
                                <div class="control_box">
                                    <button type="button" class="add_select btn_round">+</button>
                                    <button type="button" class="del_select btn_round">-</button>
                                </div>
                            </div>
                            <hr>
                            <div class="select_data">
                                <input name="section_name" placeholder="Обозначение типовой секции" value=""> 
                                <div class="select_item">
                                    <select name="floor" required>
                                        <option value="">Выбрать планировку этажа</option>
                                        {% for floor_plan in floors_plans %}
                                        <option value="{{ floor_plan.name }}">{{ floor_plan.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <button class="close_btn btn_round close">X</button>
        </div>
    </article>
    <article>
        <h2>Жилые дома</h2>
        <div class="popup">
            <button class="open_btn">Добавить</button>
            <div class="back close">
                <div class="wrapper_form">
                    <form action="" method="post">
                        <div class="form_title">Создание жилого дома</div>
                        {% csrf_token %}
                        <input name="form" hidden value="new_house">
                        <div class="select_box">
                            <div class="select_title">
                                <div>Добавить типовую секцию</div>
                                <div class="control_box">
                                    <button type="button" class="add_select btn_round">+</button>
                                    <button type="button" class="del_select btn_round">-</button>
                                </div>
                            </div>
                            <div class="select_data">
                                <input name="house_number" placeholder="Номер дома" value=""> 
                                <div class="select_item">
                                    <select name="section" required>
                                        <option value="">Выбрать типовую секцию</option>
                                        {% for section_plan in sections_plans %}
                                        <option value="{{ section_plan.name }}">{{ section_plan.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <select name="building_permit" required>
                                    <option value="">Выберете разрешение на строительство</option>
                                    {% for building_permit in building_permits %}
                                    <option value="{{ building_permit.number }}">{{ building_permit.number }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select name="microdistrict" required>
                                    <option value="">Выберете микрорайон</option>
                                    {% for microdistrict in microdistricts %}
                                    <option value="{{ microdistrict.name }}">{{ microdistrict.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select name="energy_save" required>
                                    <option value="">Класс энергосбережения</option>
                                    {% for energy_save in energy_saves %}
                                    <option value="{{ energy_save.name }}">{{ energy_save.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select name="seismic" required>
                                    <option value="">Сейсмостойкость</option>
                                    {% for seismic in seismics %}
                                    <option value="{{ seismic.name }}">{{ seismic.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select name="house_type" required>
                                    <option value="">Тип жилого дома</option>
                                    {% for house_type in house_types %}
                                    <option value="{{ house_type.name }}">{{ house_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <button class="close_btn btn_round close">X</button>
        </div>
    </article>
    <article>
        <h2>Разрешения на строительство</h2>
        <div class="popup">
            <button class="open_btn">Добавить</button>
            <div class="back close">
                <div class="wrapper_form">
                    <form action="" method="post">
                        <div class="form_title">Добавить разрешение на строительство</div>
                        {% csrf_token %}
                        <input name="form" hidden value="new_building_permit">
                        <input name="form" hidden value="new_building_permit">
                        <input name="number" type="text" placeholder="Номер разрешения">
                        <input name="dt_issue" type="date">
                        <input name="dt_expiry" type="date">
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <button class="close_btn btn_round close">X</button>
        </div>
    </article>
    <article>
        <h2>Микрорайоны</h2>
        <div class="popup">
            <button class="open_btn">Добавить</button>
            <div class="back close">
                <div class="wrapper_form">
                    <form action="" method="post">
                        <div class="form_title">Добавить микрорайон</div>
                        {% csrf_token %}
                        <input name="form" hidden value="new_microdistrict">
                        <input name="name" type="text" placeholder="Название микрорайона">
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <button class="close_btn btn_round close">X</button>
        </div>
    </article>



        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№</td>
                            <td>Наименование</td>
                            <td>Жилая / не жилая</td>
                            <td>Ценовой коэффициент</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for room_type in room_types %}
                        <tr>
                            <td><a href="#">{{ room_type.id }}</a></td>
                            <td><a href="#">{{ room_type.name }}</a></td>
                            {% if room_type.living %}
                                <td>жилая</td>
                            {% else %}
                                <td>не жилая</td>
                            {% endif %}
                            <td><a href="#">{{ room_type.koef_price }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№ п/п</td>
                            <td>Тип квартиры</td>
                            <td>Общая площадь</td>
                            <td>Количесвто помещений</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flat_plan in flats_plans %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ flat_plan.name }}</a></td>
                            <td><a href="#">{{ flat_plan.square_rooms }}</a></td>
                            <td><a href="#">{{ flat_plan.count_rooms }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№ п/п</td>
                            <td>Планировка этажа</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for floor_plan in floors_plans %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ floor_plan.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№ п/п</td>
                            <td>Типовые секции</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for section_plan in sections_plans %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ section_plan.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

</main>
{% endblock main %}
