{% extends 'index.html' %}

{% block main %}

    <div>
        <h2>Rooms {{ user }}</h2>
        <div class="popup">
            <button class="open-btn">Создать тип квартиры</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Добавить квартиру</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="new_flat">
                            <div class="select-box">
                                <div class="select-title">
                                    <span>Создать тип квартиры</span>
                                    <button type="button" class="add-select">Добавить комнату</button>
                                    <button type="button" class="del-select">Очистить комнаты</button>
                                </div>
                                <hr>
                                <div class="select-data">
                                    <input name="flat_name" placeholder="Обозначение типа квартиры" value=""> 
                                    <div class="select-item">
                                        <select name="room" required>
                                            <option value="">Выбрать комнату</option>
                                            {% for room_type in room_types %}
                                            <option value="{{ room_type.id }}">{{ room_type.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input name="square" value="">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>
        <div class="popup">
            <button class="open-btn">Создать план этажа</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Добавить план этажа</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="new_floor">
                            <div class="select-box">
                                <div class="select-title">
                                    <span>Добавить план этажа</span>
                                    <button type="button" class="add-select">Добавить квартиру</button>
                                    <button type="button" class="del-select">Удалить</button>
                                </div>
                                <hr>
                                <div class="select-data">
                                    <input name="floor_name" placeholder="Обозначение типа квартиры" value=""> 
                                    <div class="select-item">
                                        <select name="flat" required>
                                            <option value="">Выбрать тип квартиры</option>
                                            {% for flat in flats %}
                                            <option value="{{ flat.name }}">{{ flat.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>
        <div class="popup">
            <button class="open-btn">Создать подъезд</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Добавить подъезд</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="new_section">
                            <div class="select-box">
                                <div class="select-title">
                                    <span>Добавить этаж</span>
                                    <button type="button" class="add-select">Добавить этаж</button>
                                    <button type="button" class="del-select">Удалить</button>
                                </div>
                                <hr>
                                <div class="select-data">
                                    <input name="section_name" placeholder="Обозначение секции" value=""> 
                                    <div class="select-item">
                                        <select name="floor" required>
                                            <option value="">Выбрать планировку этажа</option>
                                            {% for floor_plan in floors_plans %}
                                            <option value="{{ floor_plan.name }}">{{ floor_plan.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>

        <div class="popup">
            <button class="open-btn">Создать дом</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Создать дом</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="new_house">
                            <div class="select-box">
                                <div class="select-title">
                                    <span>Добавить подьезд</span>
                                    <button type="button" class="add-select">Добавить подьезд</button>
                                    <button type="button" class="del-select">Удалить</button>
                                </div>
                                <hr>
                                <div>
                                    <select name="building_permit" required>
                                        <option value="">Выберете разрешение на строительство</option>
                                        {% for building_permit in building_permits %}
                                        <option value="{{ building_permit.number }}">{{ building_permit.number }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <select name="microdistrict" required>
                                        <option value="">Выберете микрорайон</option>
                                        {% for microdistrict in microdistricts %}
                                        <option value="{{ microdistrict.name }}">{{ microdistrict.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <select name="energy_save" required>
                                        <option value="">Класс энергосбережения</option>
                                        {% for energy_save in energy_saves %}
                                        <option value="{{ energy_save.name }}">{{ energy_save.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <select name="seismic" required>
                                        <option value="">Сейсмостойкость</option>
                                        {% for seismic in seismics %}
                                        <option value="{{ seismic.name }}">{{ seismic.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <select name="house_type" required>
                                        <option value="">Тип жилого дома</option>
                                        {% for house_type in house_types %}
                                        <option value="{{ house_type.name }}">{{ house_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select-data">
                                    <input name="house_number" placeholder="Номер дома" value=""> 
                                    <div class="select-item">
                                        <select name="section" required>
                                            <option value="">Выбрать типовую секцию</option>
                                            {% for section_plan in sections_plans %}
                                            <option value="{{ section_plan.name }}">{{ section_plan.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>

        <div class="popup">
            <button class="open-btn">Добавить разрешение на строительство</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Создать разрешение на строительство</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="new_building_permit">
                            <input name="number" type="text" placeholder="номер разрешения">
                            <input name="dt_issue" type="date">
                            <input name="dt_expiry" type="date">
                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>
        <div class="popup">
            <button class="open-btn">Добавить микрорайон</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Добавить микрорайон</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="new_microdistrict">
                            <input name="name" type="text" placeholder="название микрораона">
                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>



        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№</td>
                            <td>Наименование</td>
                            <td>Жилая / не жилая</td>
                            <td>Ценовой коэффициент</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for room_type in room_types %}
                        <tr>
                            <td><a href="#">{{ room_type.id }}</a></td>
                            <td><a href="#">{{ room_type.name }}</a></td>
                            {% if room_type.living %}
                                <td>жилая</td>
                            {% else %}
                                <td>не жилая</td>
                            {% endif %}
                            <td><a href="#">{{ room_type.koef_price }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№ п/п</td>
                            <td>Тип квартиры</td>
                            <td>Общая площадь</td>
                            <td>Количесвто помещений</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flat_plan in flats_plans %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ flat_plan.name }}</a></td>
                            <td><a href="#">{{ flat_plan.square_rooms }}</a></td>
                            <td><a href="#">{{ flat_plan.count_rooms }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№ п/п</td>
                            <td>Планировка этажа</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for floor_plan in floors_plans %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ floor_plan.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№ п/п</td>
                            <td>Типовые секции</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for section_plan in sections_plans %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ section_plan.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>








    </div>
{% endblock main %}
