{% extends 'index.html' %}

{% block main %}
<h2>Микрорайон {{ house.microdistrict.name }} Дом № {{ house.number }}</h2>
    <div class="house">
    {% for section in house.section_set.all %}
        <div class="section">
        <span>Подъезд № {{ section.number }}</span>
            {% for floor in section.floor_set.all %}
            <div class="floor">
            <span>
            {% if floor.get_number_as_int < 10 %}
                0{{ floor.number }}
            {% else %}
                {{ floor.number }}
            {% endif %}
            </span>
            {% for flat in floor.flat_set.all %}
                <div class="popup flat-item">
                <span class="open_btn {{ flat.status.name }}">{{ flat.number }}</span>
                <div class="back close">
                    <div class="wrapper_form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="update_flat">
                            <div class="form_title">Квартира № {{ flat.number }}</div>
                            <div class="switch-box">
                                <div class="switch">
                                    <div class="switch-tab" data-fieldset="flat">Сведения о квартире</div>
                                    <div class="switch-tab" data-fieldset="rooms">Состав комнат</div>
                                </div>
                                <fieldset data-fieldset="flat">
                                    <div class="account-point">
                                        <div class="account-point-title">Микрорайон</div>
                                        <div class="account-point-data">{{ flat.floor.section.house.microdistrict.name }}</div>
                                    </div>
                                    <div class="account-point">
                                        <div class="account-point-title">Номер дома</div>
                                        <div class="account-point-data">{{ flat.floor.section.house.number }}</div>
                                    </div>
                                    <div class="account-point">
                                        <div class="account-point-title">Секция</div>
                                        <div class="account-point-data">{{ flat.floor.section.number }}</div>
                                    </div>                        
                                    <div class="account-point">
                                        <div class="account-point-title">Этаж</div>
                                        <div class="account-point-data">{{ flat.floor.number }}</div>
                                    </div>
                                    <div class="account-point">
                                        <div class="account-point-title">Жилых комнат</div>
                                        <div class="account-point-data">{{ flat.living_rooms }}</div>
                                    </div>
                                    <div class="account-point">
                                        <div class="account-point-title">Всего комнат</div>
                                        <div class="account-point-data">{{ flat.count_rooms }}</div>
                                    </div>
                                    <div class="account-point">
                                        <div class="account-point-title">Общая площадь</div>
                                        <div class="account-point-data">{{ flat.square }}</div>
                                    </div>
                                </fieldset>
                                <fieldset class="hide" data-fieldset="rooms">
                                    {% for room in flat.room_set.all %}
                                    <div class="account-point">
                                        <div class="account-point-title">{{ room.room_type.name }}</div>
                                        <div class="account-point-data">{{ room.square }}</div>
                                    </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                            <div class="account-controls">
                                <input type="reset" value="Редактировать">
                                {% if flat.status.name == "free" %}
                                <a class="button" href="{% url 'run_sale' flat.url %}">Новый контракт</a>
                                {% elif flat.status.name == "sold" %}
                                <a class="button" href="{% url 'run_contract' flat.url %}">Смотреть договор</a>
                            {% endif %}
                            </div>      
                        </form>
                    </div>
                    <button class="close_btn btn_round close"><i class="fa fa-times fa-lg"></i></button>
                </div>
                </div>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock main %}
