{% extends 'index.html' %}

{% block main %}

    <div>
        <h1>Микрорайоны {{ user }}</h1>
        <div class="popup">
            <button class="open-btn">Добавить</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Добавить микрорайон</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}

                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№</td>
                            <td>Наименование</td>
                            <td>Посмотреть</td>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
            </div>
        </div>     
    </div>
{% endblock main %}





