{% extends 'index.html' %}

{% block main %}

    <div>
        <h1>Rooms {{ user }}</h1>
        <div class="popup">
            <button class="open-btn">Добавить</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Добавить комнату</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ user }}
                            <input type="text" name="name" placeholder="Наименование" required><br>
                            <input type="checkbox" name="living" checked>
                            <select name="koef_price" required>
                                <option value="1.0" selected>1.0</option>
                                <option value="0.5">0.5</option>
                                <option value="0.3">0.3</option>
                            </select>
                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>№</td>
                            <td>Наименование</td>
                            <td>Жилая / не жилая</td>
                            <td>Ценовой коэффициент</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for room in rooms %}
                        <tr>
                            <td><a href="#">{{ room.id }}</a></td>
                            <td><a href="#">{{ room.name }}</a></td>
                            {% if room.living %}
                                <td>жилая</td>
                            {% else %}
                                <td>не жилая</td>
                            {% endif %}
                            <td><a href="#">{{ room.koef_price }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>     
    </div>
{% endblock main %}





