
<aside>
    <div class="logotype">
        Logotype
    </div>

        
    <ul>
        <li>Главная
        <li><a href="{% url 'main' %}">Dashboard</a></li>
        <li><a href="#">Реквизиты</a></li>
        <li><a href="#">Отделы</a></li>
        <li><a href="#">Сотрудники</a></li>
    </ul>


    <ul>
        <li>Недвижимость
        <li><a href="{% url 'run_microdistricts' %}">Микрорайоны</a></li>
        <li><a href="{% url 'run_houses' %}">Дома</a></li>
        <li><a href="{% url 'run_flats' %}">Квартиры</a></li>
        <li><a href="{% url 'run_flat_constructor' %}">Конструктор</a></li>
    </ul>


    <ul>
        <li>Продажи
        <li><a href="#">Сделка</a></li>
        <li><a href="#">Клиенты</a></li>
        <li><a href="#">Договора</a></li>
        <li><a href="#">Продажи</a></li>
    </ul>


    <ul>
        <li>Списки
        <li><a href="#">Физические лица</a></li>
        <li><a href="#">Юридические лица</a></li>
        <li><a href="#">Адреса</a></li>
    </ul>

</aside>
