
<aside>
    <ul>
        <li>Главная
            <ul>
                <li><a href="{% url 'main' %}">Dashboard</a></li>
                <li>Реквизиты</li>
                <li>Отделы</li>
                <li>Сотрудники</li>
            </ul>
        </li>
        <li>Недвижимость
            <ul>
                <li><a href="{% url 'run_microdistricts' %}">Микрорайоны</a></li>
                <li><a href="{% url 'run_houses' %}">Дома</a></li>
                <li><a href="{% url 'run_flats' %}">Квартиры</a></li>
                <li><a href="{% url 'run_rooms' %}">Комнаты</a></li>
                <li><a href="{% url 'run_flat_constructor' %}">Конструктор</a></li>
            </ul>
        </li>
        <li>Продажи
            <ul>
                <li><a href="#">Сделка</a></li>
                <li><a href="#">Клиенты</a></li>
                <li><a href="#">Договора</a></li>
                <li><a href="#">Продажи</a></li>
            </ul>
        </li>
        <li>Списки
            <ul>
                <li><a href="#">Физические лица</a></li>
                <li><a href="#">Юридические лица</a></li>
                <li><a href="#">Адреса</a></li>
            </ul>
        </li>
    </ul>
</aside>
