{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'base/meta.html' %}
    {% include 'base/style.html' %}
        
    {% block title %}
        <title>{{ title }}</title>
    {% endblock title %}
    
</head>
<body>

    {% if user.is_authenticated %}
        {% block header %}
            {% include 'base/header.html' %}
        {% endblock header %}

        <div class="content">
            <div class="wrapper">
                {% block aside %}
                    {% include 'base/aside.html' %}
                {% endblock aside %}
                {% block main %}
                    {% include 'base/main.html' %}
                {% endblock main %}
            </div>
        </div>
        
        {% block footer %}
            {% include 'base/footer.html' %}
        {% endblock footer %}

        {% block mainscripts %}
            {% include 'base/scripts.html' %}
        {% endblock mainscripts %}

        {% for script in scripts %}
            <script type="text/javascript" src="{% static script %}"></script>
        {% endfor %}

    {% else %}

        {% include 'auth/login.html' %}
        
    {% endif %}



    
    


    
</body>
</html>