{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'base/meta.html' %}
    {% include 'base/style.html' %}
        
    {% block title %}
        <title>{{ title }}</title>
    {% endblock title %}
    
</head>
<body>

    {% if user.is_authenticated %}
        <h3>{{ user }}</h3>
        <h4>{{ user.dbase }}</h4>
        {% block header %}
            {% include 'base/header.html' %}
        {% endblock header %}

        <div class="content">
            {% block aside %}
                {% include 'base/aside.html' %}
            {% endblock aside %}

            <main>
            {% block main %}
                {% include 'base/main.html' %}
            {% endblock main %}
            </main>
        </div>
        
        {% block footer %}
            {% include 'base/footer.html' %}
        {% endblock footer %}

        {% block mainscripts %}
            {% include 'base/scripts.html' %}
        {% endblock mainscripts %}

        {% for script in scripts %}
            <script type="text/javascript" src="{% static script %}"></script>
        {% endfor %}

    {% else %}
        <h3>{{ user }}</h3>
        <h4>{{ user.dbase }}</h4>
        {% include 'auth/login.html' %}
        
    {% endif %}



    
    


    
</body>
</html>