@import url("./root.css");

html {
    height: 100%;
}

body {
    background: rgb(238, 238, 238);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background: rgb(252, 252, 252);
    height: 70px;
}

.content{
    flex-grow: 1;
    background: rgb(144, 138, 161);

}

aside{
    background: rgb(214, 214, 214);
    width: calc(var(--max-w) / 12 * 2);
}

main{
    background: rgb(105, 105, 105);
    width: calc(var(--max-w) / 12 * 10);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

main h2{
    background: white;
    width: 100%;
}

footer{
    background: rgb(255, 255, 255);
    height: 70px;
}

header .wrapper, 
.content .wrapper, 
footer .wrapper{
    display: flex;
    width: var(--max-w);
    margin: 0 auto;
    box-sizing: border-box;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
