@import url("./root.css");

*{
    line-height: var(--def-line-height);
    font-size: var(--def-font-size);
    font-family: var(--def-font-family), sans-serif;
}
body {
    background: rgb(165, 202, 223);
    height: 100vh;
    display: flex;
    padding: 0px;
    /* overflow: hidden; */
}

.comforter-brush-regular {
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:60px
  }

/* header{
    border-bottom: 1px solid rgb(194, 193, 193);
} */

.content{
    flex-grow: 1;
    background: var(--color-base);
    display: flex;
    flex-direction: column;
}

aside{
    background: linear-gradient(0deg, var(--color-accent-2) 0%, var(--color-accent-1) 100%);
    min-width: calc(100vw / 12 * 2);
}

/* main{
    overflow-y: scroll;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid rgb(179, 177, 177);
    gap: var(--main-offset);
    padding: var(--main-offset);
} */
main {
    overflow-y: scroll;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid rgb(194, 193, 193);
    gap: var(--main-offset);
    padding: var(--main-offset);
}
article {
    background: white;
    border-radius: 0px;
    width: calc(100% / 12 * 3 - var(--main-offset) * 3 / 4);
    box-shadow: 0 0 5px 0 var(--color-font-2);
}


/* footer{ */
    /* bottom: calc(var(--def-line-height) * -1); */
    /* border-top: 1px solid rgb(194, 193, 193); */
/* } */
