@import url("./root.css");

*{
    line-height: var(--def-line-height);
    font-size: var(--def-font-size);
    font-family: var(--def-font-family), sans-serif;
}
body {
    background: rgb(165, 202, 223);
    height: 100vh;
    display: flex;
    padding: 0px;
    /* overflow: hidden; */
}



/* header{
    border-bottom: 1px solid rgb(194, 193, 193);
} */

.content{
    flex-grow: 1;
    background: var(--color-base);
    display: flex;
    flex-direction: column;
}

aside{
    background: linear-gradient(0deg, var(--color-accent-2) 0%, var(--color-accent-1) 100%);
    min-width: calc(100vw / 12 * 2);
}

/* main{
    overflow-y: scroll;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid rgb(179, 177, 177);
    gap: var(--main-offset);
    padding: var(--main-offset);
} */
main {
    overflow-y: scroll;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid rgb(194, 193, 193);
    gap: var(--main-offset);
    padding: var(--main-offset);
    align-content: flex-start;
}
article {
    background: white;
    border-radius: 0px;
    width: calc(100% / 12 * 3 - var(--main-offset) * 3 / 4);
    box-shadow: 0 0 5px 0 var(--color-font-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

article h2{
    padding: var(--main-offset) 0;
    font-size: calc(var(--def-font-size) * 2);
    color: var(--color-font-1);
}
article div.icon{
    background: var(--color-font-2);
    width: 100px;
    height: 100px;
    color: var(--color-base);
    border-radius: 50%;
    margin: var(--main-offset) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
article div.icon .fa{
    font-size: calc(var(--def-font-size) * 3);
}



article div.controls{
    padding: var(--main-offset) 0;
}

.comforter-brush-regular {
    color: var(--color-font-accent); 
    font-family: "Comforter Brush";
    font-weight: 400;
    font-style: bold;
    font-size: 60px;
    text-shadow: 3px 3px #558ABB;
  }


