@import url("./root.css");


.wrapper_form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-basis: 100%;
}
form, .auth_form {
    background: white;
    border-radius: var(--def-radius-box);
    box-shadow: 0 0 5px 0 black;
    font-size: calc(var(--def-font-size) * 1.5);
    flex-basis: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: calc(var(--form-offset) * 2);
}
.auth_form{
    flex-direction: column;
    gap: calc(var(--form-offset) / 2);
    box-shadow: none;
    margin: auto;
    justify-content: center;
}

form .row{
    width: 100%;
    display: flex;
    padding: calc(var(--form-offset) / 2) 0;
}
form .column.col-1{
    width: calc(100% / 12 * 12 - var(--form-offset) / 2);
    margin: 0 calc(var(--form-offset) / 2);
}
form .column.col-2{
    width: calc(100% / 12 * 6 - var(--form-offset) / 2);
    margin: 0 calc(var(--form-offset) / 2);
}
form .column.col-3{
    width: calc(100% / 12 * 4 - var(--form-offset) / 2);
    margin: 0 calc(var(--form-offset) / 2);
}
form fieldset{
    background: #ffffff;
    /* border: 1px solid var(--color-font-1); */
    border: none;
    border-radius: var(--def-radius-box);
    display: flex;
    flex-direction: column;
    gap: calc(var(--form-offset) / 2);
    /* padding: calc(var(--def-font-size) * 1); */
    padding-bottom: calc(var(--def-font-size) * 3);
    overflow: hidden;
}
fieldset.row{
    flex-direction: row;
}

form fieldset legend{
    font-size: calc(var(--def-font-size) * 1.3);
    font-weight: 800;
    color: var(--color-font-1);
}
form div.form_title{
    width: 100%;
    display: block;
    font-size: calc(var(--def-font-size) * 1.8);
    font-weight: bold;
    text-align: center;
}

button, input, select, textarea{
    border-radius: var(--def-radius-box);
    background-color: white;
}

input, select, textarea  { 
    border: 1px solid var(--color-input-quiet);
    width: 100%;
    font-size: calc(var(--def-font-size) * 1.5);
    padding: 0 calc(var(--def-line-height) / 4);
}

input, select{
    height: var(--def-line-height);
}
option{
    font-size: calc(var(--def-font-size) * 1.5);
}
option:checked,
option:hover {
  background-color: lime;
}

div.checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(var(--def-line-height) / 4);
}
div.checkbox label{
    font-size: calc(var(--def-font-size) * 1.5);
}
div.checkbox input[type="checkbox"]{
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-input-quiet);
    border-radius: 5px;
}
div.radio{
    display: flex;
    justify-content: start;
    gap:var(--form-offset); 
    align-items: center;
    padding-left: calc(var(--def-line-height) / 4);
}
div.radio label{
    font-size: calc(var(--def-font-size) * 1.5);
}
div.radio input[type="radio"]{
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-input-quiet);
    border-radius: 5px;
}

input:focus {
    border: 1px solid rgb(100, 100, 100);
}

button.btn_simple, input[type="submit"], input[type="reset"], a.button, button.btn_round{
    display: block;
    background-color: var( --color-accent-1);
    box-shadow: 0 0 5px 0 var(--color-font-2);
    color: white;
    border: none;
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
    min-width: 100px;
    font-size: calc(var(--def-font-size) * 1.3);
    transition: all .1s ease;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, a.button:hover {
    background-color: var(--color-font-accent);
    /* box-shadow: 0 0 1px 0 black; */
}


form .select_box .select_title{
    display: flex;
    gap: calc(var(--form-offset) / 2);
    justify-content: space-between;
}
form .select_title input{
    flex-grow: 1;
}
form .select_title .control_box{
    display: flex;
    justify-content: space-between;
    gap: calc(var(--form-offset) / 2);
}
div.select_box .select_data_wrapper{
    overflow: hidden;
    padding-top: calc(var(--form-offset) / 2);
}
div.select_box .select_data{
    /* background: #b8cffa; */
    max-height: 254px;
    margin-right: calc(var(--form-offset) / 1.5 * -1);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: calc(var(--form-offset) / 2);
}
.select_item{
    width: 100%;
    display: flex;
}
.select_item select{
    min-width: 75%;
}
.select_item input{
    flex-grow: 1;
}
.select_item select.left{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.select_item input.right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: right;
}

.scrolled {
    max-height: 400px;
    overflow-y: scroll;
}

span.btn_round,
button.btn_round{
    background: rgb(184, 183, 183);
    border-radius: 100%;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    width: var(--def-line-height);
    height: var(--def-line-height);
    font-size: calc(var(--def-font-size) * 1.5);
    font-weight: 600;
    align-items: center; 
    min-width: 0;
    padding: 0;
}
.btn_round:hover{
    background: #000;
}


.auth_form a{
    font-size: calc(var(--def-font-size) * 1.5);
    color: var(--color-accent-2);
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
input:read-only {
    border: none;
}
div .subtitle{
    font-size: calc(var(--def-font-size) * 1.4);
    color: var(--color-font-accent);
}


.done-valid{
    border: 1px solid green;
    background-color: rgb(208, 253, 208);
    color: green;
}

.not-done-valid{
    border: 1px solid red;
    background-color: rgb(255, 226, 226);
    color: red;

}






@media screen and (max-width: 1500px) {
    form { 
        flex-basis: 50%; 
        font-size: calc(var(--def-font-size) * 1.2);
    }
}
@media screen and (max-width: 1201px) {
    form { flex-basis: 50%; }
}
@media screen and (max-width: 1101px) {
    form { flex-basis: 60%; }
}
@media screen and (max-width: 1001px) {
    form { flex-basis: 70%; }
}
@media screen and (max-width: 901px) {
    form { flex-basis: 80%; }
}
@media screen and (max-width: 701px) {
    form { flex-basis: 100%; }
}





