@import url("./root.css");

.house {
    background: white;
    padding: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.section {
    padding: 4px;
    margin: 8px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
.section span{
    color: var(--color-font-3);
    font-size: calc(var(--def-font-size) * 1.3);
    font-weight: 600;
    background: var(--color-font-2);
    margin: 2px;
    border-radius: 3px;
}
.section .floor{
    display: flex;
    justify-content: space-between;
}

.section .floor span {
    min-width: var(--def-line-height);
    margin: 2px;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    font-size: calc(var(--def-font-size) * 1.1);
    background: none;
    color: var(--color-font-accent);
}
.floor .popup span{
    display: block;
    background: var(--color-base);
    margin: 2px;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    font-size: calc(var(--def-font-size) * 1.1);
    cursor: pointer;
    transition: all 0.1s ease;
}
.floor .popup span.free{
    color: var(--color-font-3);
}
.floor .popup span.sold{
    color: var(--color-font-2);
}
.floor .popup span.free:hover{
    background: var(--color-font-accent);
    color: white;
}
.floor .popup.flat-item{
    flex-grow: 1;
}





