:root {

    --max-w: 1400px;

    --box-color-01: rgb(39, 37, 51);
    --box-color-02: rgb(47, 44, 61);
    --font-color: rgb(211, 208, 224);
    --shadow-color: rgb(13, 16, 22);
    --half-color: rgba(47, 44, 61, 0.7);
    --color: rgb(66,173,74);
}