:root {

    --offset: 15px; /* межколоночный отступ вместо gap*/
    --column: 5; /* первоначальное количеcтво катрочек при максимальной ширине экрана */




    --def-line-height: 36px;
    --def-font-family: "Noto Sans";
    --def-font-size: 10px;
    --def-radius-box: 5px;

    --form-offset: 15px;


    --color-base: #e8f2f6;
    --color-accent-1: #2085b7;
    --color-accent-2: #04439d;
    --color-font-1: #74747c;
    --color-font-2: #bcced6;
    --color-font-3: #323335;
    /* --color-font-accent: #f57d2c; */
    --color-font-accent: #f52c6f;
    --color-input-quiet: #bcced6;


}

@media screen and (max-width: 1400px){
    :root {
        --column: 4;
    }
}
@media screen and (max-width: 1200px){
    :root {
        --column: 3;
    }
}
@media screen and (max-width: 900px){
    :root {
        --column: 2;
        --def-font-size: 8px
    }
}
@media screen and (max-width: 500px){
    :root {
        --column: 1;
        --def-font-size: 7px
    }
}