.select{
    width: 256px;
    position: relative;
    cursor: pointer;
}

.select .header{
    display: flex;
    border: 1px solid rgb(173, 173, 173);
    text-overflow: ellipsis;
    background: white;
}
.select .header .current{
    padding: 0 16px;
    flex-grow: 1;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select .header .icon-close{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 36px;
    font-size: 12px;
}

.select .body{
    position: absolute;
    border: 1px solid rgb(173, 173, 173);
    border-top: 0;
    left: 0;
    right: 0;
    top: 100%;
    background: white;
    
    
}

.select .body .item{
    color: blue;
    padding: 0 16px;
    height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
}
.select .body .item.active{
    height: auto;
}
.select .body .item:hover{
    background: rgb(226, 226, 226); 
}
