{% extends 'index.html' %}

{% block main %}
<h2>Компании</h2>
<div class="account-point">
    <div class="popup">
        <button class="open_btn btn_simple">Добавить</button>
        <div class="back close">
            <div class="wrapper_form">
                <form action="" method="post">
                    {% csrf_token %}
                    <input name="form" hidden value="create_new_firm">
                    <div class="form_title">Новая компания</div>
                    <div class="switch-box">
                        <div class="switch">
                            <div class="switch-tab" data-fieldset="requisites">Реквизиты</div>
                            <div class="switch-tab" data-fieldset="address">Адрес</div>
                            <div class="switch-tab" data-fieldset="director">Руководитель</div>
                            <div class="switch-tab" data-fieldset="bank">Банк</div>
                        </div>
                        <fieldset data-fieldset="requisites">
                            <select name="business" required>
                                <option value="">Тип компании</option>
                                <option value="escrow">Эскроу</option>
                                <option value="client">Клент</option>
                            </select>
                            <select name="orgform" required>
                                <option value="">Организационн-правовая форма</option>
                                {% for orgform in orgforms %}
                                <option value="{{ orgform.id }}">{{ orgform.full_name }}</option>
                                {% endfor %}
                            </select>
                            <input name="full_name"  type="text" placeholder="Полное наименование" value="" autocomplete="off">
                            <input name="short_name"  type="text" placeholder="Сокращенное наименование" value="" autocomplete="off">
                            <input name="inn"  type="text" placeholder="ИНН" value="" autocomplete="off">
                            <input name="kpp"  type="text" placeholder="КПП" value="" autocomplete="off">
                            <input name="ogrn"  type="text" placeholder="ОГРН" value="" autocomplete="off">
                            <input name="site"  type="text" placeholder="Сайт" value="" autocomplete="off">
                            <input name="email"  type="text" placeholder="Email" value="" autocomplete="off">
                        </fieldset> 
                        <fieldset class="address-block hide" data-fieldset="address">
                            <select name="region" required>
                                <option value="">Регион</option>
                            </select>
                            <select name="district" required>
                                <option value="">Район</option>
                            </select>
                            <select name="locality" required>
                                <option value="город">Город</option>
                                <option value="деревня">Деревня</option>
                                <option value="поселок">Поселок</option>
                                <option value="село">Село</option> 
                            </select> 
                            <select name="city" required>
                                <option value="">Населенный пункт</option>
                            </select>
                            <input name="street" type="text" placeholder="Улица" autocomplete="off">
                            <input name="home" type="text" placeholder="Дом" autocomplete="off"> 
                            <input name="flat" type="text" placeholder="Офис" autocomplete="off">   
                        </fieldset>  
                        <fieldset class="hide" data-fieldset="bank">
                            <input name="bik_number" type="search" placeholder="Бик номер" autocomplete="off" value="">
                            <input name="bik_branch" readonly placeholder="Наименование отделения" autocomplete="off" value="">
                            <input name="bik_city" readonly placeholder="Город" autocomplete="off" value="">
                            <input name="bik_address" readonly placeholder="Адрес" autocomplete="off" value="">
                            <input name="bik_ks" readonly placeholder="Корреспондентский счёт" autocomplete="off" value="">
                            <input name="bik_rs" placeholder="Расчетный счёт" autocomplete="off" value="">
                        </fieldset> 
                        <fieldset class="hide" data-fieldset="director">
                            <input name="last_name" type="text" placeholder="Фамилия" autocomplete="off">
                            <input name="first_name" type="text" placeholder="Имя" autocomplete="off">
                            <input name="patr_name" type="text" placeholder="Отчество" autocomplete="off">
                            <div class="radio">
                                <input type="radio" name="sex" value="1" checked />
                                <label>Мужской</label>
                                <input type="radio" name="sex" value="" />
                                <label>Женский</label>
                            </div>
                            <input name="birthday" type="text" placeholder="Дата рождения" onfocus="(this.type='date')" autocomplete="off">
                            <input name="director_power_type" type="text" placeholder="Действует на основании" autocomplete="off">
                            <input name="director_power_number" type="text" placeholder="Номер документа" autocomplete="off">
                            <input name="director_power_date" type="text" placeholder="Дата документа" onfocus="(this.type='date')" autocomplete="off">
                        </fieldset> 
                    </div>
                    <div class="row">
                        <div class="column col-3"></div>
                        <input class="column col-3" type="reset" value="Очистить">
                        <input class="column col-3" type="submit" value="Сохранить">
                    </div>
                </form>
            </div>
            <button class="close_btn btn_round close"><i class="fa fa-times fa-lg"></i></button>
        </div>
    </div>

{% endblock main %}