{% extends 'index.html' %}

{% block main %}
<h2>Моя компания</h2>
<div class="wrapper">
    <div class="account">
        <div class="account-point">
            <div class="popup">
                <button class="open_btn btn_simple">Основное</button>
                <div class="back close">
                    <div class="wrapper_form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="create_my_company">
                            <div class="column col-1 form_title">Мои реквизиты</div>
                            <div class="row">
                                <fieldset class="column col-1">
                                    <legend>Данные моей организации</legend>
                                    <select name="orgform" required>
                                        <option value="">Организационн-правовая форма</option>
                                        {% for orgform in orgforms %}
                                        <option value="{{ orgform.id }}">{{ orgform.full_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input name="full_name"  type="text" placeholder="Полное наименование" value="" autocomplete="off">
                                    <input name="short_name"  type="text" placeholder="Сокращенное наименование" value="" autocomplete="off">
                                    <input name="inn"  type="text" placeholder="ИНН" value="" autocomplete="off">
                                    <input name="kpp"  type="text" placeholder="КПП" value="" autocomplete="off">
                                    <input name="ogrn"  type="text" placeholder="ОГРН" value="" autocomplete="off">
                                    <input name="site"  type="text" placeholder="Сайт" value="" autocomplete="off">
                                    <input name="email"  type="text" placeholder="Email" value="" autocomplete="off">
                                </fieldset> 
                            </div>
                            <div class="row">
                                <div class="column col-3"></div>
                                <input class="column col-3" type="reset" value="Очистить">
                                <input class="column col-3" type="submit" value="Сохранить">
                            </div>
                        </form>
                    </div>
                    <button class="close_btn btn_round close"><i class="fa fa-times fa-lg"></i></button>
                </div>
            </div>
            <div class="popup">
                <button class="open_btn btn_simple">Адрес</button>
                <div class="back close">
                    <div class="wrapper_form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="create_my_address">
                            <div class="column col-1 form_title">Адрес</div>
                            <div class="row">
                                <fieldset class="column col-1 address-block">
                                    <legend>Адрес</legend>
                                    
                                    <select name="region" required>
                                        <option value="">Регион</option>
                                    </select>
                                    <select name="district" required>
                                        <option value="">Район</option>
                                    </select>
                                    <select name="city" required>
                                        <option value="">Населенный пункт</option>
                                    </select>
                                    <select name="locality" required>
                                        <option value="город">Город</option>
                                        <option value="деревня">Деревня</option>
                                        <option value="поселок">Поселок</option>
                                        <option value="село">Село</option> 
                                    </select> 
                                    <input name="street" type="text" placeholder="Улица" autocomplete="off">
                                    <input name="home" type="text" placeholder="Дом" autocomplete="off"> 
                                    <input name="flat" type="text" placeholder="Офис" autocomplete="off">   
                                </fieldset>   
                            </div>
                            <div class="row">
                                <div class="column col-3"></div>
                                <input class="column col-3" type="reset" value="Очистить">
                                <input class="column col-3" type="submit" value="Сохранить">
                            </div>
                        </form>
                    </div>
                    <button class="close_btn btn_round close"><i class="fa fa-times fa-lg"></i></button>
                </div>
            </div>
            <div class="popup">
                <button class="open_btn btn_simple">Руководитель</button>
                <div class="back close">
                    <div class="wrapper_form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="create_my_director">
                            <div class="column col-1 form_title">Руководитель</div>
                            <div class="row">
                                <fieldset class="column col-1">
                                    <legend>Данные руководителя</legend>
                                    <input name="last_name" type="text" placeholder="Фамилия" autocomplete="off">
                                    <input name="first_name" type="text" placeholder="Имя" autocomplete="off">
                                    <input name="patr_name" type="text" placeholder="Отчество" autocomplete="off">
                                    <div class="radio">
                                        <input type="radio" name="sex" value="1" checked />
                                        <label>Мужской</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="sex" value="" />
                                        <label>Женский</label>
                                    </div>
                                    <input name="birthday" type="date" autocomplete="off">
                                    <input name="director_power_type" type="text" placeholder="Действует на основании" autocomplete="off">
                                    <input name="director_power_number" type="text" placeholder="Номер документа" autocomplete="off">
                                    <input name="director_power_date" type="date" placeholder="Дата документа" autocomplete="off">
                                </fieldset> 
                            </div>
                            <div class="row">
                                <div class="column col-3"></div>
                                <input class="column col-3" type="reset" value="Очистить">
                                <input class="column col-3" type="submit" value="Сохранить">
                            </div>
                        </form>
                    </div>
                    <button class="close_btn btn_round close"><i class="fa fa-times fa-lg"></i></button>
                </div>
            </div>
            <div class="popup">
                <button class="open_btn btn_simple">Банк</button>
                <div class="back close">
                    <div class="wrapper_form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="form" hidden value="create_my_bank">
                            <fieldset class="column col-1">
                                <legend>Расчетный счёт</legend>
                                <input name="bik_number" type="search" placeholder="Бик номер" autocomplete="off" value="">
                                <input name="bik_branch" readonly placeholder="Наименование отделения" autocomplete="off" value="">
                                <input name="bik_city" readonly placeholder="Город" autocomplete="off" value="">
                                <input name="bik_address" readonly placeholder="Адрес" autocomplete="off" value="">
                                <input name="bik_ks" readonly placeholder="Корреспондентский счёт" autocomplete="off" value="">
                                <input name="bik_rs" placeholder="Расчетный счёт" autocomplete="off" value="">
                            </fieldset> 
                            <div class="row">
                                <div class="column col-3"></div>
                                <input class="column col-3" type="reset" value="Очистить">
                                <input class="column col-3" type="submit" value="Сохранить">
                            </div>
                        </form>
                    </div>
                    <button class="close_btn btn_round close"><i class="fa fa-times fa-lg"></i></button>
                </div>
            </div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Организационно-правовая форма</div>
            <div class="account-point-data">{{ my_business_card.orgform.full_name }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Полное наименование</div>
            <div class="account-point-data">{{ my_business_card.full_name }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Сокращенное наименование</div>
            <div class="account-point-data">{{ my_business_card.short_name }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">ИНН</div>
            <div class="account-point-data">{{ my_business_card.inn }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">КПП</div>
            <div class="account-point-data">{{ my_business_card.kpp }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">ОГРН</div>
            <div class="account-point-data">{{ my_business_card.ogrn }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Сайт</div>
            <div class="account-point-data">{{ my_business_card.site }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Email</div>
            <div class="account-point-data">{{ my_business_card.email }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор фамилия</div>
            <div class="account-point-data">{{ my_business_card.director.last_name }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор имя</div>
            <div class="account-point-data">{{ my_business_card.director.first_name }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор имя</div>
            <div class="account-point-data">{{ my_business_card.director.patr_name }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор действует на основании</div>
            {% if my_business_card.director_power_type %}
            <div class="account-point-data">{{ my_business_card.director_power_type }}</div>
            {% else %}
            <div class="account-point-data"> - </div>
            {% endif %}
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор номер документа оснований</div>
            {% if my_business_card.director_power_number %}
            <div class="account-point-data">{{ my_business_card.director_power_number }}</div>
            {% else %}
            <div class="account-point-data"> - </div>
            {% endif %}
        </div>
        <div class="account-point">
            <div class="account-point-title">Директор дата документа оснований</div>
            {% if my_business_card.director_power_date %}
            <div class="account-point-data">{{ my_business_card.director_power_date }}</div>
            {% else %}
            <div class="account-point-data"> - </div>
            {% endif %}
        </div>
        <div class="account-point">
            <div class="account-point-title">Банковские реквизиты</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Адрес страна</div>
            <div class="account-point-data">{{ my_business_card.address.country_full_name }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Адрес регион</div>
            <div class="account-point-data">{{ my_business_card.address.region }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Адрес город</div>
            <div class="account-point-data">{{ my_business_card.address.city }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Адрес улица</div>
            <div class="account-point-data">{{ my_business_card.address.street }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Адрес дом</div>
            <div class="account-point-data">{{ my_business_card.address.home }}</div>
        </div>
        <div class="account-point">
            <div class="account-point-title">Адрес офис</div>
            <div class="account-point-data">{{ my_business_card.address.flat }}</div>
        </div>
    </div>
</div>
{% endblock main %}