{% extends 'index.html' %}

{% block main %}
    
    <div>
        <h1>Flats</h1>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>Микрорайон</td>
                            <td>Дом</td>
                            <td>Энерго</td>
                            <td>Сейсмо</td>
                            <td>Подъезд</td>
                            <td>Этаж</td>
                            <td>Квартира</td>
                            <td>Статус</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flat in flats %}
                        <tr>
                            <td><a href="#">{{ flat.floor.section.house.construction }}</a></td>
                            <td><a href="#">{{ flat.floor.section.house.number }}</a></td>
                            <td><a href="#">{{ flat.floor.section.house.energy_save }}</a></td>
                            <td><a href="#">{{ flat.floor.section.house.seismic }}</a></td>
                            <td><a href="#">{{ flat.floor.section.number }}</a></td>
                            <td><a href="#">{{ flat.floor.number }}</a></td>
                            <td><a href="{% url 'flat' flat.url %}">{{ flat.number }}</a></td>
                            <td><a href="#">{{ flat.status }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock main %}



