.helper{
    position: fixed;
    min-width: 150px;
    min-height: 150px;
    right: 15px;
    top: 15px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px 0 grey;
    border-radius: 15px;
}