{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'base/meta.html' %}
    {% include 'base/style.html' %}
        
    {% block title %}
        <title>{{ title }}</title>
    {% endblock title %}
    
</head>

{% block main %}

    <div class="wrapper_form">
        <form class="auth_form" action="" method="post">
            {% csrf_token %}
            {% if is_existing_user %}
                <div class="form_title">Вход в систему</div>
            {% else %}
                <div class="form_title">Регистрация</div>  
            {% endif %}
            {{ form }}
            {% if is_existing_user %}
                <a href="{% url 'user_register' %}">Создать аккаунт</a>
            {% else %}
                <a href="{% url 'user_login' %}">Уже есть аккаунт</a>  
            {% endif %}
            <input type="submit" value="Продолжить"> 
        </form>

    </div>

{% endblock main %}

{% for script in scripts %}
<script type="text/javascript" src="{% static script %}"></script>
{% endfor %}

