{% extends 'index.html' %}

{% block main %}
    <div>
        <h1>{{ bisiness_card.name }}</h1>
        <h2>Общие сведения</h2>
        <table>
            <tr>
                <td>Наименование</td>
                <td>ИНН</td>
                <td>ОГРН</td>
                <td>КПП</td>
            </tr>
            <tr>
                <td><a href="#">{{ bisiness_card.name }}</a></td>
                <td><a href="#">{{ bisiness_card.unic }}</a></td>
                <td><a href="#">{{ bisiness_card.ogrn }}</a></td>
                <td><a href="#">{{ bisiness_card.kpp }}</a></td>
            </tr>   
        </table>
        <h2>Адрес</h2>
        <table>
            <tr>
                <td>Страна</td>
                <td>Регион</td>
                <td>Город</td>
                <td>Улица</td>
                <td>Дом</td>
                <td>Корпус</td>
                <td>Квартира(офис)</td>
            </tr>
            <tr>
                <td><a href="#">{{ bisiness_card.address.region.country.short_name }}</a></td>
                <td><a href="#">{{ bisiness_card.address.region.name }}</a>
                    <a href="#">{{ bisiness_card.address.region.locality.name }}</a></td>
                <td><a href="#">{{ bisiness_card.address.locality.name }}</a>
                    <a href="#">{{ bisiness_card.address.title }}</a></td>
                <td><a href="#">{{ bisiness_card.address.street }}</a></td>
                <td><a href="#">{{ bisiness_card.address.house }}</a></td>
                <td><a href="#">{{ bisiness_card.address.index }}</a></td>
                <td><a href="#">{{ bisiness_card.address.flat }}</a></td>
            </tr>   
        </table>
        <h2>Руководитель</h2>
        <table>
            <tr>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчесвто</td>
                <td>Пол</td>
                <td>Дота рождения</td>
            </tr>
            <tr>
                <td><a href="#">{{ bisiness_card.director.last_name }}</a></td>
                <td><a href="#">{{ bisiness_card.director.first_name }}</a></td>
                <td><a href="#">{{ bisiness_card.director.patr_name }}</a></td>
                <td><a href="#">{{ bisiness_card.director.sex.name }}</a></td>
                <td><a href="#">{{ bisiness_card.director.birthday }}</a></td>
            </tr>   
        </table>
    </div>
{% endblock main %}