{
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "topdip",
        "USER": "root",
        "PASSWORD": "root",
        "HOST": "localhost",
        "PORT": "3306",
        "OPTIONS": {
            "init_command": "SET sql_mode='STRICT_TRANS_TABLES'"
        }
    },
    "mykjkseoywtjovfj": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\mykjkseoywtjovfj.sqlite3"
    },
    "jkfmtkihvsezhriq": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\jkfmtkihvsezhriq.sqlite3"
    },
    "uabsaxhqvgkskinm": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\uabsaxhqvgkskinm.sqlite3"
    },
    "tktuutirikknnrsc": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\tktuutirikknnrsc.sqlite3"
    },
    "tzbnfrptipgbvylm": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\tzbnfrptipgbvylm.sqlite3"
    },
    "oiqkjexdssodhyam": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\oiqkjexdssodhyam.sqlite3"
    },
    "vqfdwuxvslocwvfc": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\vqfdwuxvslocwvfc.sqlite3"
    },
    "nydodpaxyprfgdyo": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\nydodpaxyprfgdyo.sqlite3"
    },
    "fqhroagquvumtlff": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\fqhroagquvumtlff.sqlite3"
    },
    "vzefcsoxrxwlubkz": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\vzefcsoxrxwlubkz.sqlite3"
    },
    "bqhyneuegybfenhv": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\bqhyneuegybfenhv.sqlite3"
    },
    "llwjegsjthavwtbf": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\llwjegsjthavwtbf.sqlite3"
    },
    "vunvwrfkaoqysebq": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\vunvwrfkaoqysebq.sqlite3"
    },
    "hpreotrdlahaibif": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\hpreotrdlahaibif.sqlite3"
    },
    "njcvkjiqgfiqdlre": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\njcvkjiqgfiqdlre.sqlite3"
    },
    "ftkapbjqysxhzvlb": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\ftkapbjqysxhzvlb.sqlite3"
    }
}