{
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "topdip",
        "USER": "root",
        "PASSWORD": "root",
        "HOST": "localhost",
        "PORT": "3306",
        "OPTIONS": {
            "init_command": "SET sql_mode='STRICT_TRANS_TABLES'"
        }
    },
    "ekckqnhtbnyothvb": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\ekckqnhtbnyothvb.sqlite3"
    },
    "ltxrcrppcfqqyjmm": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\ltxrcrppcfqqyjmm.sqlite3"
    },
    "ccypeneblgewshau": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\ccypeneblgewshau.sqlite3"
    },
    "uuakinosmzhefvqj": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\uuakinosmzhefvqj.sqlite3"
    },
    "sksnmfqojifnyvta": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\sksnmfqojifnyvta.sqlite3"
    },
    "avtgophotvvsnxom": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\avtgophotvvsnxom.sqlite3"
    },
    "kbzmepqjrjpkssfg": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\kbzmepqjrjpkssfg.sqlite3"
    },
    "akrjyoaypfkrppol": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\akrjyoaypfkrppol.sqlite3"
    }
}