{
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "topdip",
        "USER": "root",
        "PASSWORD": "root",
        "HOST": "localhost",
        "PORT": "3306",
        "OPTIONS": {
            "init_command": "SET sql_mode='STRICT_TRANS_TABLES'"
        }
    },
    "ekckqnhtbnyothvb": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\ekckqnhtbnyothvb.sqlite3"
    },
    "ltxrcrppcfqqyjmm": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\ltxrcrppcfqqyjmm.sqlite3"
    },
    "ccypeneblgewshau": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\ccypeneblgewshau.sqlite3"
    },
    "uuakinosmzhefvqj": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\uuakinosmzhefvqj.sqlite3"
    },
    "sksnmfqojifnyvta": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\sksnmfqojifnyvta.sqlite3"
    },
    "avtgophotvvsnxom": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\avtgophotvvsnxom.sqlite3"
    },
    "kbzmepqjrjpkssfg": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\kbzmepqjrjpkssfg.sqlite3"
    },
    "akrjyoaypfkrppol": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\akrjyoaypfkrppol.sqlite3"
    },
    "kgmbdmvtxhvsxbzd": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\kgmbdmvtxhvsxbzd.sqlite3"
    },
    "htxgvxcscmssygqv": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\htxgvxcscmssygqv.sqlite3"
    },
    "fgnervihohgwdmnd": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\fgnervihohgwdmnd.sqlite3"
    },
    "lefgetikhkgxwetd": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\lefgetikhkgxwetd.sqlite3"
    },
    "lcsodpppflutlvxq": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\lcsodpppflutlvxq.sqlite3"
    },
    "hizvewrceecryled": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\hizvewrceecryled.sqlite3"
    },
    "viskfofdaiegejlp": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\viskfofdaiegejlp.sqlite3"
    },
    "inzqguyhadhxdgsu": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\inzqguyhadhxdgsu.sqlite3"
    },
    "wargtsfrygpfxzef": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\wargtsfrygpfxzef.sqlite3"
    },
    "fkxzgptrtwgkxmws": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\fkxzgptrtwgkxmws.sqlite3"
    },
    "vrtvlwcngqxioylb": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\vrtvlwcngqxioylb.sqlite3"
    },
    "cfiwtuyyhalbulql": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\cfiwtuyyhalbulql.sqlite3"
    },
    "jrvdiyqpmjswqvgt": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\jrvdiyqpmjswqvgt.sqlite3"
    },
    "ratxppmbdwjbejmq": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\ratxppmbdwjbejmq.sqlite3"
    },
    "kwnmmwtkvwqweyoy": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "C:\\Users\\User\\Desktop\\diploma\\src\\storage\\dbases\\kwnmmwtkvwqweyoy.sqlite3"
    }
}