{% extends 'index.html' %}

{% block main %}

    <div>
        <h1>Addresses</h1>
        <div class="popup">
            <button class="open-btn">Добавить</button>
            <div class="back close">
                <div class="front">
                    <h3 class="title">Добавить адресс</h3>
                    <div class="content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" name="postal_code" placeholder="Почтовый индекс"><br>
                            <select name="region_id" required>
                                {% for region in regions %}
                                    <option value="{{ region.id }}">{{ region.name }} {{ region.locality.name }}</option>
                                {% endfor %}
                            </select><br>
                            <input type="text" name="district" placeholder="Район"><br>
                            <select name="locality_id" required>
                                {% for locality in locations %}
                                    <option value="{{ locality.name }}">{{ locality.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="title" placeholder="Наименование" required><br>
                            <input type="text" name="street" placeholder="Улица" required><br>
                            <input type="text" name="house" placeholder="Дом" required><br>
                            <input type="text" name="index" placeholder="Корпус"><br>
                            <input type="text" name="flat" placeholder="Квартира"><br>

                            <input type="submit" value="Save">
                        </form>
                    </div>
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <td>id</td>
                            <td>Индекс</td>
                            <td>Страна</td>
                            <td>Регион</td>
                            <td>Город</td>
                            <td>Улица</td>
                            <td>Дом</td>
                            <td>Корпус</td>
                            <td>Квартира</td>
                            <td>+</td>
                            <td>+</td>

                        </tr>
                    </thead>
                    <tbody>
                        {% for address in addresses %}
                        <tr>
                            <td><a href="#">{{ address.id }}</a></td>
                            <td><a href="#">{{ address.postal_code }}</a></td>
                            <td><a href="#">{{ address.region.country.short_name }}</a></td>
                            <td><a href="#">{{ address.region.name }} {{ address.region.locality.name }}</a></td>
                            <td><a href="#">{{ address.title }}</a></td>
                            <td><a href="#">{{ address.street }}</a></td>
                            <td><a href="#">{{ address.house }}</a></td>
                            <td><a href="#">{{ address.index }}</a></td>
                            <td><a href="#">{{ address.flat }}</a></td>
                            <td><a href="{% url 'address_delete' address.url %}">Удалить</a></td>
                            <td>
                                
                                <div class="popup">
                                    <button class="open-btn">{{ address.id }}</button>
                                    <div class="back close">
                                        <div class="front">
                                            <h3 class="title">{{ address.id }}</h3>
                                            <div class="content">
                                                
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <input type="text" name="postal_code" value="{{ address.postal_code }}"><br>
                                                    <input type="text" name="region_id" value="{{ address.region.country.short_name }}"><br>
                                                    <input type="text" name="locality" value="{{ address.region.name }} {{ address.region.locality.name}}"><br>
                                                    <input type="text" name="district" value="{{ address.district }}"><br>
                                                    <input type="text" name="locality_id" value="{{ address.locality.name }}"><br>
                                                    <input type="text" name="title" value="{{ address.title }}"><br>
                                                    <input type="text" name="street" value="{{ address.street }}"><br>
                                                    <input type="text" name="house" value="{{ address.house }}"><br>
                                                    <input type="text" name="index" value="{{ address.index }}"><br>
                                                    <input type="text" name="flat" value="{{ address.flat }}"><br>  
                                                </form>
                                               
                                            </div>
                                            <a href="{% url 'address_delete' address.url %}">Удалить</a>
                                            <button class="close-btn">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>




    </div>
{% endblock main %}

